language: php

dist: trusty

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - nightly

install:
  #- curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
  - curl -OL https://github.com/squizlabs/PHP_CodeSniffer/releases/download/2.6.2/phpcs.phar
  #- curl -OL https://github.com/squizlabs/PHP_CodeSniffer/releases/download/2.8.1/phpcs.phar

script:
  - php phpcs.phar --standard=PSR2 -np --tab-width=4 --encoding=utf-8 .
