# Ignore everything:
*

# Except for those addons directories:
!calendar/
!calendar/*
!readmore/
!readmore/*
!params_example/
!params_example/*

# Ignore addon state
calendar/.disabled
readmore/.disabled
params_example/.disabled
