/* GENERAL -------------------------------------------------------- */

html, body, p, div, table, tr, td {
	margin: 0;
	padding: 0;
}

html, body {
	color: #222;
	font-family: Verdana, Arial, sans-serif; 
	font-size: 13px;
}

html {
	background: #efefef;
	background: linear-gradient(top, #fff , #efefef 500px);
	background: -o-linear-gradient(top, #fff , #efefef 500px);
	background: -ms-linear-gradient(top, #fff , #efefef 500px);
	background: -moz-linear-gradient(top, #fff , #efefef 500px);
	background: -webkit-linear-gradient(top, #fff , #efefef 500px);
}

body {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px 15px;
	border: 1px solid transparent;
}

a {
	color: #c00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* for accessibility */
input[type="text"], input[type="url"], input[type="search"], input[type="email"], textarea {
	background-color: white !important;
	color: black !important;
}

header.titre a {
	color: black;
}

#top, header.titre {
	font-family: "Trebuchet MS", Verdana, Arial, Sans-serif;
}

/* LAYOUT -------------------------------------------------------- */

#top {
	padding: 0px;
	color: #f44;
}

#top h1 {
	padding-right: 30px;
	text-shadow: 0px 0px 4px #aaa;
	letter-spacing: -3px;
	font-size: 3.5em;
	font-style: italic;
}

#top h1, #top h2 {
	margin: 5px;
	display: inline-block;
	height: 100px;
	vertical-align: middle;
	line-height: 100px;	
}

#top h2 {
	text-align: right;
	font-weight: normal;
	font-size: 1.4em;
	color: #333;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

#top h1 a {
	text-decoration: none;
	color: inherit;
}

#wrapper {
	background-color: #fff;
	box-shadow: 0px 0px 3px #aaa;
	border: 1px solid #ccc;
	padding: 50px;
}

#navigate {
	float: right;
}

/* inside POST -------------------------------------------------------- */

header.titre h2 {
	font-style: italic;
}

header.titre h2 a {
	color: #f44;
}

h3.date {
	color: black;
}

.comment header, .comment h3  a {
	color: #44f;
}

.comment h3 a {
	text-decoration: underline;
}

.news, .lien, .comment {
	border-bottom: 1px solid silver;
}

/* article de blog */
.news, .comment, .lien {
	word-wrap: break-word;
	overflow: show;
}

.news pre, .comment pre, .lien pre {
	white-space: pre-wrap;
}

.news h3, .lien h3 {
	font-size: 1em;
}

.permalien {
	color: gray;
	font-size: 0.7em;
	text-align: right;
}

/* COMMENT BLOCS -------------------------------------------------------- */

.comment {
	padding-bottom: 10px;
	padding-top: 5px;
}

.comment h3 {
	font-size : 1.05em;
	margin-bottom: 15px;
}

.com-reply {
	text-align: right;
}

.com-reply a {
	font-style: italic;
	padding: 0 4px 2px 4px;
	border: 1px solid silver;
	border-radius: 10px;
	border-width: 1px 0 0 1px;
	color: inherit;
}

/* FORM COMMENT -------------------------------------------------------- */

#postcom {
	padding: 20px 0;
}

#postcom label {
	margin-top: 5px;
}

.infos input, textarea.commentaire {
	border: 1px solid gray;
}

textarea.commentaire {
	width: 98%;
	padding: 1%;
	height: 200px;
	border-radius: 0 0 3px 3px;
	border-top-width: 0;
}

.formatbut input, .infos input {
	display: inline;
	min-width: 26px;
}

.formatbut .pm {
	float: right;
}

#form-commentaire {
	width: 86%;
	margin: 0 auto;
}

#form-commentaire fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

#form-commentaire .infos {
	text-align: right;
	width: 100%;
	margin: 10px auto;
}

#form-commentaire fieldset.infos input {
	margin-top: 2px;
	border-radius: 3px;
	padding: 3px;
}

/* Boutons de formatage  */
p.formatbut {
	border: 1px solid #9999a3;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
	width: 98%;
	height: 30px;
	line-height: 28px;
	margin: 0; padding: 0 1%;
	background: #e6e6e6;
}

.formatbut button.pm {
	margin-top: 3px;
}

.formatbut button {
	padding: 0;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0);
	height: 24px; width: 24px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.formatbut button:hover {
	border-color: silver;
}

.formatbut button:active {
	border-color: gray;
	background: #cde6ff;
	background: -webkit-linear-gradient(bottom, white, #d6d6d6);
	background: -moz-linear-gradient(bottom, white, #d6d6d6);
	background: -ms-linear-gradient(bottom, white, #d6d6d6);
	background: -o-linear-gradient(bottom, white, #d6d6d6);
	background: linear-gradient(bottom, white, #d6d6d6);
}

.formatbut button span {
	display: inline-block;
	width: 16px;
	height: 24px;
}

.formatbut span.spacer {
	width: 2px;
	margin: 0 4px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #fafafa
}

#pmm span      { background: no-repeat -4px -142px url(format.png); }
#pmp span      { background: no-repeat -4px -162px url(format.png); }
#button01 span { background: no-repeat -4px   -1px url(format.png); }
#button02 span { background: no-repeat -4px  -21px url(format.png); }
#button03 span { background: no-repeat -4px  -42px url(format.png); }
#button04 span { background: no-repeat -4px  -82px url(format.png); }
#button09 span { background: no-repeat -4px  -62px url(format.png); }
#button10 span { background: no-repeat -4px -102px url(format.png); }
#button12 span { background: no-repeat -4px -122px url(format.png); }

#erreurs {
	color: red;
	text-shadow: 1px 1px 3px #999;
	padding: 10px;
	margin-bottom: 15px;
}

/* SEARCH FORM
-------------------------------------------------------- */

#search {
	text-align: right;
	margin-bottom: 20px;
	border: 1px solid gray;
	border-radius: 4px;
	box-shadow: 1px 1px 2px silver;
	background-color: white;
	width: 227px;
}

#q {
	padding: 2px 0;
	box-shadow: none;
	border-radius: 4px;
	border-width: 0;
	text-align: left;
	width: 140px;
}

#input-rechercher { /* submit*/
	padding: 2px 0px;
	border-radius: 0 4px 4px 0;
	background: #f0f0f0;
	border-width: 0;
	width: 80px;
}

/* FOOTER
-------------------------------------------------------- */

footer {
	font-size: 80%;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}

footer a, footer a:visited { color: inherit; }

/* OTHERS
-------------------------------------------------------- */

blockquote, q {
	font-style: italic;
	color: #fff;
	display: block;
	margin: 10px 30px;
	padding: 10px;
	background: silver;
	box-shadow: 2px 2px 3px #aaa;
}

.tags {
	padding : 7px 0px;
	text-align: right;
	margin-top: 10px;
}

.img {
	display: block;
	border-radius: 10px;
	margin: 0 auto;
}

#nombre_comment {
	font-weight: bold;
	font-size: 1.10em;
}

.pagination {
	text-align: center;
	padding: 30px;
}

@media (max-width: 799px) {
	body {
		padding: 0 5px 15px;
	}
	#wrapper {
		padding: 20px;
	}
}

