@media (max-width: 850px) {
	#axe {
		padding: 20px 15px;
	}
	#subnav .nombre-elem {
	}
	select {
		max-width: 100%;
	}

	/* liste commentaires */
	.commentbloc.foreground {
		margin: 5% 0;
	}
	.commentbloc .date > span {
		display: none;
	}

	/* liste fichiers */
	#image-wall {
		text-align: center;
	}
	#image-wall .image_bloc {
		width: 147px;
		height: 147px;
		line-height: 147px;
	}

	#file-list td {
		padding: 5px;
	}

	#file-list td:nth-of-type(4),
	#file-list th:nth-of-type(4) {
		display: none;
	}

	#file-list td img {
		vertical-align: middle;
		width: 20px;
	}

	#file-list tr td:nth-of-type(1) {
		padding-left: 10px;
		width: 20px;
	}

	#file-list tr td:nth-of-type(5),
	#file-list tr td:last-of-type {
		padding-left: 5px;
	}
	#file-list tr td:last-of-type {
		padding-right: 5px;
	}

	/* form post liens */
	#post-lien {
		width: auto;
	}

	/* TOP
	------------------------------------------------------*/
	#top {
		display: flex;
		box-sizing: border-box;
		padding: 0;
	}
	#top > #nav,
	#top > h1,
	#top > #search,
	#top > #nav-acc {
		box-sizing: border-box;
		height: 60px;
		line-height: 60px;
		vertical-align: middle;
		overflow: hidden;
	}

	/* TOP > right nav bar
	------------------------------------------------------*/
	#top > #nav-acc > ul {
		top: -10px;
	}
	#top > #nav-acc:hover > ul {
		top: -00px;
	}

	/* TOP > Left nav bar
	------------------------------------------------------*/
	#top > #nav {
		flex: 0 0 60px;
		text-align: left;
		background-color: inherit;
	}

	#top > #nav::before {
		font-size: 2em;
		text-align: center;
		content: "\e906";
		width: 60px;
		cursor: pointer;
		display: inline-block;
	}

	#top > #nav ul {
		position: absolute;
		line-height: 3;
		background-color: inherit;
		width: 210px;
		height: 100%;
		left: -250px;
		top: 50px;
		box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.6);
		z-index: 20;
		opacity: 0;
		transition: opacity ease-in .2s, top ease-in .2s, left ease-out 0s .2s;
	}

	#top > #nav:hover > ul {
		left: 0;
		top: 60px;
		opacity: 1;
		transition: opacity .2s ease-in .05s, top .2s ease-in .05s, left 0s ease-out .05s;
	}

	#top > #nav > ul > li {
		display: block;
		margin: 0;
	}

	#top > #nav > ul > li > a {
		margin: 0;
		height: 45px;
		line-height: 45px;
		padding-left: 30px;
		display: block;
		text-decoration: none;
		color: inherit;
		vertical-align: middle;
	}
	#top > #nav > ul > li > a:hover {
		background-color: rgba(0, 0, 0, .1);
		color: inherit;
		box-shadow: none;
	}

	#top > #nav >ul li a.current {
		box-shadow: none;
		background-color: rgba(0, 0, 0, .1);
		border: 0;
	}

	#nav a:before {
		margin-right: 5px;
		font-size: 1.4em;
	}

	#nav #lien-index:before    { content: "\e907"; }
	#nav #lien-liste:before    { content: "\e90d"; }
	#nav #lien-nouveau:before  { content: "\e903"; }
	#nav #lien-lscom:before    { content: "\e91b"; }
	#nav #lien-fichiers:before { content: "\e921"; }
	#nav #lien-links:before    { content: "\e910"; }
	#nav #lien-rss:before      { content: "\e922"; }

	/* TOP > searchbar
	------------------------------------------------------*/
	#top > #search {
		order: 2;
		flex: 0 0 60px;
		padding: 0;
		position: static;
	}
	#top > #search label::before {
		z-index: 20;
		top: -1px;
	}
	#top > #search input[type='search'] { /* normal */
		padding: 5px 20px;
		border-radius: 50%;
		box-sizing: border-box;
		height: 40px;
		width: 40px;
		background-color: transparent;
	}
	#top > #search input:hover { /* hover */
		cursor: pointer;
		background: rgba(255, 255, 255, .3);
	}
	#top > #search input[value=""]:focus,
	#top > #search input:not([value=""]) { /* focus OR not empty (a search is done) */
		position: absolute;
		border-radius: 3px;
		padding: 0 40px 0 10px;
		box-shadow: 0 12px 24px rgba(0, 0, 0, .3);
		background: white;
		cursor: text;
		width: 80%;
		width: calc(100% - 60px - 60px );
		top: 10px; right: 60px;
	}
	#top > #search input[value=""]:focus { /* onfocus */
		animation: popup-search .4s;
		animation-fill-mode: forwards;
	}

	@keyframes popup-search {
		0% {
			width: 50px;
		}
		100% {
			width: 100%;
			width: calc(100% - 60px - 60px );
		}
	}

	/* TOP > PageTitle
	------------------------------------------------------*/
	#top > h1 {
		display: block;
		order: 2;
		flex: 1 1 auto;
		height: 50px;
		padding: 0 2%;
		margin: 0;
		font-size: 1.3em;
	}
	#top > #search {
		order: 3;
	}
	#top > #nav-acc {
		order: 4;
	}

	/* liste des articles */
	#billets > li {
		display: block;
		line-height: initial;
		text-align: right;
		padding: 0 10px;
	}
	#billets > li > span:nth-of-type(2),
	#billets > li > span:nth-of-type(3),
	#billets > li > span:nth-of-type(4) {
		font-size: .8em;
	}

	#billets > li > span:nth-of-type(1) {
		text-align: left;
		padding: 0;
		display: block;
		line-height: 50px;
	}
	#billets > li > span:nth-of-type(1)::before {
		margin-right: 10px;
	}

	#billets > li > span:nth-of-type(2) {
		padding: 10px 10px 10px 0;
	}
	#billets > li > span:nth-of-type(2) > a+span {
		display: none;
	}
	#billets > li > span:nth-of-type(3) {
		padding: 0;
		margin-left: 0;
	}

	#billets > li > span:nth-of-type(4) a::before {
		top: 2px;
	}

	/* les RSS */
	#post-list > li .date > span {
		display: none;
	}
}


