[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

#grabOrder {
    display: none;
}

#grabOrder ul {
    list-style-type: none;
    padding: 0;
}

.item-order-white{
}

#grabOrder li {
    max-width: 180px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    cursor: move;
    border: 1px solid silver;
    border-radius: 2px;
    margin:1px 0 6px 0;
    background-color:#FFFFFF;
    color:#595859;
}
#grabOrder li:hover, #grabOrder li:focus{
    background-color:#E8E8E8;
    color:#595859;
}

#grabOrder li.dragElem {
    opacity: 0.4;
}

#grabOrder li.previous {
    border-bottom: 2px solid blue !important;
    margin:0px 0 5px 0;
}
#grabOrder li.over {
    border-top: 2px solid blue !important;
    margin:0px 0 5px 0;
}

#grabOrder li:last-child{border: 1px solid transparent;}

#grabGrid {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media (max-width: 720px) {
    #grabGrid
    {
        grid-auto-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    #grabGrid
    {
        grid-auto-columns: repeat(1, 1fr);
    }
}

.grabGrid-item-size-1
{
    grid-column: span 1;
}

.grabGrid-item-size-2
{
    grid-column: span 2;
}

.grabGrid-item-size-3
{
    grid-column: span 3;
}

.grabGrid-item-size-4
{
    grid-column: span 4;
}
