/* PRÉFÉRENCES
------------------------------------------------------------ */

/* field sets */
#preferences .pref {
	padding-bottom: 20px;
	margin-bottom: 40px;
}

#preferences .form-legend {
	padding: 15px 10px 30px;
	font-weight: 500;
	box-sizing: border-box;
	color: #1e88e5;
}

#preferences p {
	max-width: 100%;
	margin: 20px auto;
	display: flex;
	align-items: center;
}

#preferences label {
	text-align: right;
	padding-right: 5px;
	margin: 10px 0;
	flex: 0 1 45%;
}

#preferences .text {
	padding: 5px 5px 5px 1px;
}

#preferences textarea.text {
	padding-top: 1px;
	width: auto;
}

#preferences input[type="checkbox"]+label {
	cursor: pointer;
	position: relative;
	margin-right: 60px;
}

#preferences input[type="checkbox"]+label::before {
	position: absolute;
	right: -49px;
	top: 0;
	display: block;
	height: 20px;
	width: 45px;
	background: #B2B2B2;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	content: '';
}

#preferences input[type="checkbox"]:focus+label::after {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2), 0 0 0 5px rgba(0, 0, 0, .1);
}

#preferences input[type="checkbox"]+label::after {
	position: absolute;
	right: -29px;
	top: -3px;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 100%;
	background: #ECECEC;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	content: '';
	transition: all 0.3s ease;
}

#preferences input[type="checkbox"]:not(:disabled):active + label::after {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2), 0 0 0 15px rgba(111, 190, 181, .4);
}

#preferences input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

#preferences input[type="checkbox"]:checked + label:before {
	background: #A0C2F9;
}


#preferences input[type="checkbox"]:checked + label::after {
	right: -51px;
	background: #4285F4;
}

#preferences input[type="checkbox"]:disabled + label::before {
	background: #d5d5d5;
	pointer-events: none;
}

#preferences input[type="checkbox"]:disabled + label::after {
	background: #bcbdbc;
}

/* MAINTENANCE */
#maintenance-form form + form {
	margin-top: 30px;
}

#maintenance-form fieldset {
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
}

#maintenance-form legend {
	font-weight: bold;
	color: #1e88e5;
}

#maintenance-form p {
}

#maintenance-form p > label {
	display: inline-block;
	width: 40%;
	text-align: right;
	padding-right: 5px;
}

#maintenance-form #nb-artic,
#maintenance-form #nb-links {
	display: none;
}

#maintenance-form .submit-bttns {
	margin: 0px auto 15px;
	padding: 0px 20px;
	max-width: 700px;
}


