/* MES LIENS 
--------------------------------------------------------------------------- */

#post-new-lien { /* form nouveau lien (#1) */
	margin: 10px 0 30px;
}

#post-new-lien #lien {
	vertical-align: middle;
	padding: 2px 0 2px 3px;
	height: 22px;
	width: 100%;
}

#post-lien .wrap-fields {
	max-width: 500px;
	margin: auto;
}

#post-lien input.readonly-like, textarea[readonly] { /* form nouveau lien (#2) */
	color: #999;
	background-color: #e8e8e8;
}

#post-lien #description-box {
	display: inline-block;
}

#description-box .preview-img {
	width: 26%;
	height: 114px;
	float:right;
	border: 1px solid #9999A3;
	border-radius: 4px;
}

#post-lien input.text, #post-lien #description-box {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#post-lien textarea {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 110px;
}

#post-lien #description-box.space-left textarea {
	width: 70%;
}

.link-tags {
	margin: 0 0 3px;
	line-height: 20px;
	opacity: .3;
}

.link-tags span {
	border: 1px solid silver;
	padding: 0 2px;
	border-radius: 3px;	
}

.link-tags span a, .linkbloc:hover .link-tags a {
	text-decoration: none;
	color: gray;
}

.titre-lien a {
	text-decoration: none;
}

.linkbloc {
	padding : 10px 20px 6px 30px;
	margin-bottom: 0px;
	background: url("links.png") no-repeat 7px 15px, -webkit-linear-gradient(left, white, #f3f3f3 60%);
	background: url("links.png") no-repeat 7px 15px,    -moz-linear-gradient(left, white, #f3f3f3 60%);
	background: url("links.png") no-repeat 7px 15px,     -ms-linear-gradient(left, white, #f3f3f3 60%);
	background: url("links.png") no-repeat 7px 15px,      -o-linear-gradient(left, white, #f3f3f3 60%);
	background: url("links.png") no-repeat 7px 15px,         linear-gradient(left, white, #f3f3f3 60%);
	border: 1px solid silver;
	border-width: 1px 1px 0 1px;
}

.linkbloc:nth-of-type(even) {
	background: url("links.png") no-repeat 7px 15px white;
}

.linkbloc:first-of-type {
	border-radius : 5px 5px 0 0;
}

.linkbloc:last-of-type {
	border-radius : 0 0 5px 5px;
	border-width: 1px;
	margin-bottom: 10px;
}

.linkbloc:hover {
	box-shadow: 0px 0px 4px #aaa, 1px 1px 5px #aaa;
	z-index: +1;
	position: relative;
}

.linkbloc:hover .link-tags span {
	box-shadow: 0 0 4px #aaa;
}

.linkbloc a {
	color: gray;
}

.linkbloc:hover a {
	color: #45a6ff;
}

.linkbloc .titre-lien {
	display: inline;
	margin-right: 15px;
}

.linkbloc .date {
	color: gray;
	clear: both;
	font-style: italic;
	margin: auto 15px 5px 0;
	font-size: 80%;
}

.linkbloc .lien_editer {
	float: right;
}

.lien_editer {
	opacity: 0;
}

.linkbloc:hover .lien_editer, .linkbloc:hover .link_no_clic, .linkbloc:hover .link-tags {
	-webkit-transition: ALL .2s;
	   -moz-transition: ALL .2s;
	    -ms-transition: ALL .2s;
	     -o-transition: ALL .2s;
	        transition: ALL .2s;
	opacity: 1;
}

.linkbloc .lien_editer img {
	vertical-align: middle;
	margin-left: 5px;
}

.linkbloc .links-link, .commentbloc .comm-link {
	vertical-align: middle;
	margin-left: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.ll-see {
	background: url(legend.png) -557px -135px no-repeat;
}

.ll-edit {
	background: url(legend.png) -557px -103px no-repeat;
}


/* TAGS */
#post-lien #liste-tags {
	min-width: 400px;
	width: 50%;
	margin: 0 0 2px 25%;
	padding-left: 21px;
	line-height: 19px;
}

#post-lien .tag:hover {
	cursor: pointer;
}

#selected {
	padding: 0px;
	margin: 0;
	list-style-type: none;
}

#selected li {
	display:inline;
	border: 1px solid silver;
	border-radius: 3px;
	padding: 2px 2px;
	color: #333;
	background: #eee;
	height: 20px;
	line-height: 25px;
}

#selected a {
	display: inline-block;
	color: inherit;
	margin: 0px 5px 0px 8px;
	text-decoration: none;
	font-weight: bold;
}

#tags {
	margin: 2px;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 3px 2px;
	font-size: 1em;
	min-width: 150px;
}

#post-lien #wrap {
	padding: 0px;
	min-width: 400px;
	position: relative;
	margin: 0 0 2px 0;
}

