/* PRÉFÉRENCES
------------------------------------------------------------ */

/* field sets */
#preferences .pref {
	padding-bottom: 20px;
	margin-bottom: 40px;
}

#preferences .form-legend {
	padding: 15px 10px 30px;
	font-weight: bold;
	box-sizing: border-box;
}

#preferences .form-legend legend::before {
	font-size: 1.4em;
	padding-right: 10px;
	font-weight: normal;
}

#preferences .legend-user::before { content: "\e919"; }
#preferences .legend-securite::before { content: "\e93d"; }
#preferences .legend-apparence::before { content: "\e93a"; }
#preferences .legend-dateheure::before { content: "\e93b"; }
#preferences .legend-blogcomm::before { content: "\e91b"; }
#preferences .legend-links::before { content: "\e901"; }
#preferences .legend-sweep::before { content: "\e93c";}

#preferences p {
	max-width: 80%;
	margin: 20px 0;
	display: flex;
	align-items: baseline;
}

#preferences label {
	text-align: right;
	padding-right: 5px;
	margin: 10px 0;
	flex: 0 1 40%;
}

#preferences .text {
	border: 0px solid #dadada;
	border-bottom-width: 1px;
	padding-left: 1px;
	box-shadow: none;
	border-radius: 0;
}

#preferences .text:focus {
	border-bottom-color: #2196F3;
	box-shadow: 0px -1px 0px #2196F3 inset;
}

#preferences .text:invalid {
	border-bottom-color: #f44336;
	box-shadow: 0px -1px 0px #f44336 inset;
}

#preferences textarea.text {
	padding-top: 1px;
	width: auto;
}

#preferences input[type="checkbox"]+label {
	cursor: pointer;
	position: relative;
	margin-right: 60px;
}

#preferences input[type="checkbox"]+label::before {
	position: absolute;
	right: -49px;
	top: 0;
	display: block;
	height: 20px;
	width: 45px;
	background: #B2B2B2;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	content: '';
}

#preferences input[type="checkbox"]:focus+label::after {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2), 0 0 0 5px rgba(0, 0, 0, .1);
}

#preferences input[type="checkbox"]+label::after {
	position: absolute;
	right: -29px;
	top: -3px;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 100%;
	background: #ECECEC;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	content: '';
	transition: all 0.3s ease;
}

#preferences input[type="checkbox"]:not(:disabled):active + label::after {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2), 0 0 0 15px rgba(111, 190, 181, .4);
}

#preferences input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

#preferences input[type="checkbox"]:checked + label:before {
	background: #A0C2F9;
}


#preferences input[type="checkbox"]:checked + label::after {
	right: -51px;
	background: #4285F4;
}

#preferences input[type="checkbox"]:disabled + label::before {
	background: #d5d5d5;
	pointer-events: none;
}

#preferences input[type="checkbox"]:disabled + label::after {
	background: #bcbdbc;
}

/* MAINTENANCE */
#maintenance-form form + form {
	margin-top: 30px;
}

#maintenance-form fieldset {
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
	max-width: 80%;
}

#maintenance-form legend {
	font-weight: bold;
}

#maintenance-form p {
}

#maintenance-form p > label {
	display: inline-block;
	width: 40%;
	text-align: right;
	padding-right: 5px;
}

#maintenance-form #nb-artic,
#maintenance-form #nb-links {
	display: none;
}

#maintenance-form .submit-bttns {
	margin: 0px auto 15px;
	padding: 0px 20px;
	max-width: 700px;
}


