/* AUTH 
-------------------------------------------------------------------------------- */

#pageauth {
	width: 350px;
	font-size: 1em;
	display: block;
	clear: both;
	margin: 20px auto 20px;
	text-align: center;
	background: url("logo.png") no-repeat center 20px;
	padding-top: 130px;
}

#pageauth input.text {
	width: 200px;
}

#pageauth h1 {
	margin: 0 auto 50px;
	font-size: 3em;
}

#pageauth h1#step { /* install */
	font-size: 2em;
	margin: 0;
	color: #999;
}

#pageauth .inpauth {
	margin-top: 15px;
	padding: 2px 5px;
	color: #fff;
	background: #45A6FF;
	border: 1px solid #2E83D9;
	font-size: 1.4em;
	font-weight: bold;
}

#freecap {
	border: 1px dashed silver;
}

#pageauth label[for="sgdb"] {
	display: inline;
}

#pageauth .blue-square {
	margin-top: 35px;
}
