/* AUTH 
-------------------------------------------------------------------------------- */

#pageauth {
	width: 35%;
	display: block;
	clear: both;
	margin: 50px auto 25px;
	padding-left: 150px;
	background: url("logo.png") no-repeat left top;
}

#pageauth input {
	padding: 2px;
}

#pageauth input.text {
	padding: 2px 2px 2px 6px;
	width: 200px;
}

#pageauth h1 {
	margin: 0;
	font-size: 36px;
}

#pageauth h1#step { /* install */
	font-size: 20px;
	margin: 0;
	color: #999;
}

#pageauth .inpauth {
	margin-top: 15px;
	padding: 2px 5px;
	color: #fff;
	background: #45A6FF;
	border: 1px solid #2E83D9;
	font-size: 14px;
	font-weight: bold;
}

#freecap {
	border: 1px dashed silver;
}

#pageauth label {
	display: block;
}

#pageauth label[for="sgdb"] {
	display: inline;
}

#pageauth .sinline label {
	display: inline;
}

#pageauth .sinline input {
	margin-left: 0;
}


