/* TABLE LISTE BILLETS
--------------------------------------------------------------------------- */

table {
	width: 100%;
	border-collapse: collapse;
}

table a {
	text-decoration: none;
}

table th {
	text-align: left;
	padding: 3px 0 3px 5px;
	font-size: 14px;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #ccc;
}

table td {
	padding: 5px;
}

table tr {
	border-radius: 10px 10px 0 0;
}

table tr:nth-of-type(even) {
	background: #edf3fe;
	background: -webkit-linear-gradient(left, #edf3fe, #fdfdff, #edf3fe);
	background:    -moz-linear-gradient(left, #edf3fe, #fdfdff, #edf3fe);
	background:     -ms-linear-gradient(left, #edf3fe, #fdfdff, #edf3fe);
	background:      -o-linear-gradient(left, #edf3fe, #fdfdff, #edf3fe);
	background:         linear-gradient(left, #edf3fe, #fdfdff, #edf3fe);
}

table tr:nth-of-type(even):hover {
	background: #edf3fe;
}

.black { /* link */
	color: #000;
}

table .on, table .off {
	padding-left: 25px;
	color: #000;
	margin: 0;
}

table .on {
	background: url("legend.png") no-repeat left -119px;
}

table .off {
	background: url("legend.png") no-repeat left -419px;
}

table .lien {
	text-align: right;
	padding-right: 10px;
}

table a:hover {
	text-decoration: underline;
}

table .titre {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	min-width: 30%;
}



