
/* COMMENTAIRES */

#liste-commentaires {
	padding: .1px 0 0; /* firefix (parent + padding-top:0) + (child with margin-top) « bug » */
}




.commentbloc {
  position: relative;
	z-index: 1;
}

.commentbloc::after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 0.5s ease-in-out 0s;
	z-index: -1;
}

.commentbloc:hover::after {
  opacity: 1;
}



.commentbloc {
	padding : 15px 15px 20px;
	color: #444;
}

.commentbloc:hover {
	color: #333;
	z-index: 10;
}

.commentbloc .comm-header {
	display: flex;
}

.commentbloc .comm-title {
	flex: 0 0 auto;
}

.commentbloc .reply {
	cursor: pointer;
}

.commentbloc .webpage a,
.commentbloc .email a,
.commentbloc .reply {
	text-decoration: none;
	vertical-align: middle;
	background: url(sprites.png) no-repeat 0 0 / 640px 400px;
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	padding-left: 20px;
	box-sizing: border-box;
	visibility: hidden;
}

.commentbloc .email a {
	background-position: -9px -97px;
}

.commentbloc .webpage a {
	background: url(sprites.png) no-repeat -157px -170px / 640px 400px;
}

.commentbloc .reply {
	background: url(sprites.png) no-repeat -230px -170px / 640px 400px;
}

.commentbloc .author {
	font-weight: bold;
	font-size: 1em;
}

.commentbloc .p-date-title {
	flex: 1 1 auto;
	text-align: right;
	line-height: 20px;
	color: gray;
	font-style: italic;
}

.commentbloc .comm-edit-hidden-bloc {
	display: none;
	clear: both;
}

.commentbloc a {
	color: inherit;
	transition: color 0.5s ease-in-out 0s;
}

/* com options button */
.comm-options {
	position: relative;
	z-index: 1;
	margin-left: 20px;
}

.comm-options::before {
	content: "";
	cursor: pointer;
	background: url(sprites.png) no-repeat -266px -168px / 640px 400px;
	width: 24px;
	height: 24px;
	display: block;
}

.comm-options > ul {
	right: 9999px;
	position: absolute;
	top: -10px;
	background: white;
	margin: 0;
	padding: 4px 0;
	list-style: none;
	border-radius: 3px;
	width: 210px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: top .2s .3s ease-in, opacity .2s .3s ease-in, right ease-out 0s .5s;
}

.comm-options:hover ul {
	right: 0;
	opacity: 1;
	top: 0;
	transition: top .2s ease-in .05s, opacity .2s ease-in .05s, right 0s ease-out .05s;
}

.comm-options > ul > li {
	height: 35px;
	line-height: 35px;
	padding-left: 40px;
	cursor: pointer;
}

.comm-options > ul > li:hover {
	background: #f5f5f5;
}


.commentbloc .comm-content {
	padding: 1em 0 1em 10px;
}

.commentbloc .comm-content blockquote {
	padding: 10px;
	margin: 10px 5px;
}
.commentbloc:hover .comm-content blockquote {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

/* desactivated comments */
.privatebloc {
	border-left: 10px #555 solid;
	background: rgba(0, 0, 0, .02);
}

.privatebloc h3, .privatebloc h3 a {
	font-style: italic;
}

.privatebloc a, .privatebloc:hover a {
	color: black;
}

/* Commentbloc on Hover */
.commentbloc:hover a {
	color: #45a6ff;
}

.commentbloc.foreground .comm-options,
.commentbloc:hover .webpage a,
.commentbloc:hover .email a,
.commentbloc:hover .reply {
	visibility: visible;
}


/* Commentbloc on Edit */
.commentbloc.foreground {
	margin: 5%;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.3);
	background: white;
	padding: 15px;
	transition: margin .2s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow .4s ease .3s;
}

.commentbloc.foreground > p:first-of-type {
	display: none;
}

.commentbloc.foreground .comm-edit-hidden-bloc {
	display: block;
}

.commentbloc.foreground .cl-edit { /* hide edit button if already on edit */
	display: none;
}


/* textarea field in comments */
.form-commentaire .field {
	margin-top: 30px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.form-commentaire .field textarea,
.form-commentaire .field .formatbut {
	border: 0;
}


.form-commentaire .infos {
	margin: 15px auto 0;
	max-width: 480px;
}

.form-commentaire .infos > span {
	display: flex;
	height: 37px;
}


.form-commentaire span > input.text {
	flex: 1;
	border: 1px solid #dadada;
	border-width: 0 0 1px 0;
	padding: 14px 7px 2px 1px;
	margin: 5px 0 0 2px;
	box-shadow: none;
	border-radius: 0;
}

.form-commentaire input.text:focus {
	border-bottom-color: #2196F3;
	box-shadow: 0px -1px 0px #2196F3 inset;
}

.form-commentaire input.text:invalid {
	border-bottom-color: #f44336;
	box-shadow: 0px -1px 0px #f44336 inset;
}

.form-commentaire label:not(.activercomm) {
	padding: 0 0 0 24px;
	width: 24px;
	box-sizing: border-box;
	overflow: hidden;
	vertical-align: middle;
	background: white url(sprites.png) no-repeat 0 0 / 640px 400px;
}


.form-commentaire label[for^="auteur"]  { background-position: -44px -81px; }
.form-commentaire label[for^="email"]   { background-position: -7px -81px; }
.form-commentaire label[for^="webpage"] { background-position: -81px -81px; }

.form-commentaire label.activercomm {
	text-align: left;
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
	margin-top: 15px;
	padding-left: 24px;
}


/* New Comment */

#post-nv-commentaire {
	margin-top: 35px;
}

/* ajax loading gif */
.ajaxloading:before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(255, 255, 255, .5) center center url(loading.gif) no-repeat;
}


/* Ajax removing comment animation */
.deleteFadeOut {
	opacity: 1;
	animation: disapear .6s;
	-webkit-animation: disapear .6s;
}

@-webkit-keyframes disapear{
	100% {
		height: 0;
		opacity: 0;
	}
}

@keyframes disapear{  
	99% {
		height: 0;
		opacity: 0;
		left: 10px;
	}
	100% {
		left: -1000px;
		height: 0;
		opacity: 0;
	}
}
