
@media (max-width: 850px) {
	#axe {
		padding: 20px 15px;
	}
	#subnav {
		display: block;
	}
	#subnav .nombre-elem {
		margin: 15px auto 10px;
	}
	select {
		max-width: 100%;
	}

	/* liste commentaires */
	.commentbloc.foreground {
		margin: 1%;
	}
	/* liste fichiers */
	#image-wall {
		display: block;
		text-align: center;
	}
	#image-wall .image_bloc {
		width: 147px;
		height: 147px;
		line-height: 147px;
		min-width: 0;
		margin: 2px;
		display: inline-block;
		overflow: hidden;
		text-align: center;
	}
	#image-wall .image_bloc img {
		max-width: 100%;
		height: auto;
	}

	/* form post liens */
	#post-lien {
		width: auto;
	}
	/* right menu hover on mobile (better hover effect) */
	#top > #nav-acc > ul {
		top: -10px;
	}
	#top > #nav-acc:hover > ul {
		top: -00px;
	}
	#top {
		display: flex;
		box-sizing: border-box;
		padding: 0;
	}

	#top > #nav,
	#top > h1,
	#top > #search,
	#top > #nav-acc {
		box-sizing: border-box;
		height: 60px;
		line-height: 60px;
		vertical-align: middle;
		overflow: hidden;
	}


	/* TOP > Left nav bar
	------------------------------------------------------*/
	#top > #nav {
		flex: 0 0 60px;
		text-align: left;
		background-color: inherit;
	}

	#top > #nav::before {
		content: "";
		position: absolute;
		width: 60px;
		cursor: pointer;
		height: 60px;
		top: 0px;
		left: 0px;
		z-index: 8;
		background: url(sprites.png) no-repeat 14px 10px / 640px 400px;
	}

	/* TOP > Search button + searchbar
	------------------------------------------------------*/
	#top > #search {
		order: 2;
		flex: 0 0 60px;
		padding: 0;
	}

	#top > #search input[type='submit'] {
		display: none;
	}

	#top > #search input[type='search'] { /* normal */
		padding: 5px 20px;
		border: 1px solid transparent;
		border-radius: 50%;
		box-sizing: border-box;
		margin: 4px;
		height: 40px;
		width: 40px;
		right: 0; left: 0;
		background: url(sprites.png) no-repeat 8px -198px / 640px 400px;

	}

	#top > #search input:hover { /* hover */
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
		cursor: pointer;
		background-color: rgba(255, 255, 255, .3);
	}

	#top > #search input[value=""]:focus,
	#top > #search input:not([value=""]) { /* focus OR not empty (a search is done) */
		border: 1px solid transparent;
		margin: 0 auto;
		position: absolute;
		z-index: 20;
		border-radius: 3px;
		max-width: 550px;
		padding: 0 10px 0 40px;
		box-shadow: 0 12px 24px rgba(0, 0, 0, .3);
		background: white url(sprites.png) no-repeat 10px -40px / 640px 400px;
		cursor: text;
		animation: popup-search .4s;
		animation-fill-mode: forwards;
	}

	#top > #search input:not([value=""]) {  /* not empty ; this avoids animation on page load */
		width: 95%;
		box-shadow: 1px 12px 24px rgba(0, 0, 0, .3);
		animation: none;
		top: 35px; left: 0; right: 0;
	}

	#top > #search input:not([value=""]):focus { /* not empty : focus */
		box-shadow: 1px 12px 24px rgba(0, 0, 0, .3);
	}

	@keyframes popup-search{  
		0% {
			width: 50px;
			top: 0px;
		}
		100% {
			width: 95%;
			top: 35px;
		}
	}

	/* TOP > Left nav bar > menu
	----------------------------------------*/
	#top > #nav ul {
		position: absolute;
		line-height: 3;
		background-color: inherit;
		width: 210px;
		height: 100%;
		left: -250px;
		top: 50px;
		box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.6);
		z-index: 20;
		opacity: 0;
		transition: opacity ease-in .2s, top ease-in .2s, left ease-out 0s .2s;
	}

	#top > #nav:hover > ul {
		left: 0;
		top: 60px;
		opacity: 1;
		transition: opacity .2s ease-in .05s, top .2s ease-in .05s, left 0s ease-out .05s;
	}

	#top > #nav > ul > li {
		display: block;
		margin: 0;
	}

	#top > #nav > ul > li > a {
		margin: 0;
		height: 45px;
		line-height: 45px;
		padding-left: 30px;
		display: block;
		text-decoration: none;
		color: inherit;
		vertical-align: middle;
	}
	#top > #nav > ul > li > a:hover {
		background-color: rgba(0, 0, 0, .1);
		color: inherit;
		box-shadow: none;
	}

	#top > #nav >ul li a.current {
		box-shadow: none;
		background-color: rgba(0, 0, 0, .1);
		border: 0;
	}

	#nav a:before {
		content: "";
		vertical-align: middle;
		display: inline-block;
		width: 36px;
		height: 36px;
		background: no-repeat url(sprites.png) 0 0 / 640px 400px;
	}

	#nav #lien-index:before    { background-position: -75px -7px; }/* +=37*/
	#nav #lien-nouveau:before  { background-position: -112px -7px; }
	#nav #lien-lscom:before    { background-position: -149px -7px; }
	#nav #lien-liste:before    { background-position: -186px -7px; }
	#nav #lien-fichiers:before { background-position: -223px -7px; }
	#nav #lien-links:before    { background-position: -260px -7px; }
	#nav #lien-rss:before      { background-position: -297px -7px; }

	#top > h1 {
		display: block;
		order: 2;
		flex: 1 1 auto;
		height: 50px;
		padding: 0 2%;
		margin: 0;
		font-size: 1.3em;
	}
	#top > #search {
		order: 3;
	}
	#top > #nav-acc {
		order: 4;
	}

	/* liste des articles */
	#billets > li {
		display: block;
		line-height: initial;
		text-align: right;
	}
	#billets > li > span:nth-of-type(2),
	#billets > li > span:nth-of-type(3),
	#billets > li > span:nth-of-type(4) {
		text-align: right;
		font-size: .8em;
	}

	#billets > li > span:nth-of-type(1) {
		text-align: left;
		padding: 0;
		display: block;
		line-height: 50px;
	}
	#billets > li > span:nth-of-type(2) {
		padding: 0;
		display: block;
	}
	#billets > li > span:nth-of-type(3) {
		padding: 0;
		margin-left: 0;
	}


	/* index.php graphs */
	#graphs .month:nth-child(-n+18) {
		display: none;
	}

}
