/* COMMENTAIRES */

#liste-commentaires {
	padding: .1px 0 0; /* firefix (parent + padding-top:0) + (child with margin-top) « bug » */
}

.commentbloc,
.linkbloc {
	position: relative;
	z-index: 1;
	color: #444;
	margin-top: 15px;
	padding : 0;
}

.commentbloc {
	border-bottom: 1px solid #eee;
	margin: 0;
}

.commentbloc:not(:first-child) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.commentbloc:not(:last-child) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.commentbloc::after,
.linkbloc::after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 0.5s ease-in-out 0s;
	z-index: -1;
}

.commentbloc:hover::after,
.linkbloc:hover::after {
  opacity: 1;
}

.commentbloc:hover,
.linkbloc:hover {
	color: #333;
	z-index: 10;
}

.linkbloc .link-header,
.linkbloc .link-content,
.linkbloc .link-footer,
.commentbloc .comm-header,
.commentbloc .comm-comment {
	padding: 15px;
}

.commentbloc .comm-header,
.linkbloc .link-header {
	display: flex;
	align-items: center;
	padding-right: 40px;
	border-bottom: 1px solid #eee;
}

.commentbloc .comm-header {
	padding: 10px 40px 10px 20px;
	border-bottom: 0;
}

.commentbloc .comm-title {
	flex: 0 1 auto;
}

.commentbloc .reply {
	cursor: pointer;
}

.commentbloc .webpage a,
.commentbloc .email a,
.commentbloc .reply {
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	visibility: hidden;
	margin-left: 5px;
}

.commentbloc .webpage a::before,
.commentbloc .email a::before,
.commentbloc .reply::before {
	font-size: 20px;
	color: rgba(0, 0, 0, .5);
}

.commentbloc .reply::before {     content: "\e920"; }
.commentbloc .email a::before {   content: "\e91e"; }
.commentbloc .webpage a::before { content: "\e901"; }

.commentbloc .author {
	font-weight: bold;
}

.commentbloc .author a,
.commentbloc .author a:hover,
.commentbloc:hover .author a {
	color: inherit;
	text-decoration: none;
}

.commentbloc .date,
.linkbloc .date {
	flex: 1 0 auto;
	text-align: right;
	color: gray;
	font-style: italic;
}

.commentbloc .comm-edit-hidden-bloc {
	display: none;
	clear: both;
}

.commentbloc a {
	color: inherit;
	transition: color 0.5s ease-in-out 0s;
}

/* com options button */
.comm-options,
.link-options {
	z-index: 1;
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
}

.comm-options::before,
.link-options::before {
	content: "\e924";
	font-size: 1.7em;
	cursor: pointer;
}

.comm-options > ul,
.link-options > ul {
	right: 9999px;
	position: absolute;
	top: -10px;
	background: white;
	margin: 0;
	padding: 4px 0;
	list-style: none;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: top .2s .3s ease-in, opacity .2s .3s ease-in, right ease-out 0s .5s;
}

.comm-options:hover ul,
.link-options:hover ul {
	right: 5px;
	opacity: 1;
	top: 5px;
	transition: top .2s ease-in .05s, opacity .2s ease-in .05s, right 0s ease-out .05s;
}

.comm-options > ul > li,
.link-options > ul > li {
	line-height: 35px;
	padding: 0 100px 0 40px;
	cursor: pointer;
	white-space: nowrap;
}

.link-options > ul > li:hover,
.comm-options > ul > li:hover {
	background: #f5f5f5;
}

.commentbloc .comm-content {
	padding: 15px;
}

.commentbloc .comm-content blockquote {
	padding: 10px;
	margin: 10px 5px;
}
.commentbloc:hover .comm-content blockquote {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

/* desactivated comments */
.privatebloc {
	border-left: 10px #555 solid;
	background: rgba(0, 0, 0, .02);
}

.privatebloc h3, .privatebloc h3 a {
	font-style: italic;
}

.privatebloc a, .privatebloc:hover a {
	color: black;
}

/* Commentbloc on Hover */
.commentbloc:hover a {
	color: #45a6ff;
}

.commentbloc.foreground .comm-options,
.commentbloc:hover .webpage a,
.commentbloc:hover .email a,
.commentbloc:hover .reply {
	visibility: visible;
}

/* Commentbloc on Edit */
.commentbloc.foreground {
	margin: 5%;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.3);
	background: white;
	padding: 15px;
	transition: margin .2s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow .4s ease .3s;
}

.commentbloc.foreground > p:first-of-type {
	display: none;
}

.commentbloc.foreground .comm-edit-hidden-bloc {
	display: block;
}

.commentbloc.foreground .cl-edit { /* hide edit button if already on edit */
	display: none;
}

/* textarea field in comments */
.form-commentaire .field {
	margin-top: 30px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.form-commentaire .field textarea,
.form-commentaire .field .formatbut {
	border: 0;
}

.form-commentaire .infos {
	margin: 15px auto 0;
	max-width: 480px;
}

.form-commentaire .infos > span {
	display: flex;
	padding-top: 15px;
}


.form-commentaire span > input.text {
	flex: 1;
	border: 1px solid #dadada;
	border-width: 0 0 1px 0;
	padding: 0 0 0 1px;
	margin: 0 0 0 2px;
	box-shadow: none;
	border-radius: 0;
}

.form-commentaire input.text:focus {
	border-bottom-color: #2196F3;
	box-shadow: 0px -1px 0px #2196F3 inset;
}

.form-commentaire input.text:invalid {
	border-bottom-color: #f44336;
	box-shadow: 0px -1px 0px #f44336 inset;
}

.form-commentaire label:not(.activercomm) {
	padding: 0;
	width: 28px;
	height: 28px;
	overflow: hidden;
	color: rgba(0, 0, 0, .5)
}

.form-commentaire label:not(.activercomm)::before {
	font-size: 1.4em;
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}

.form-commentaire label[for^="auteur"]::before  { content: "\e930"; }
.form-commentaire label[for^="email"]::before   { content: "\e91e"; }
.form-commentaire label[for^="webpage"]::before { content: "\e901"; }

.form-commentaire label.activercomm {
	text-align: left;
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
	margin-top: 15px;
	padding-left: 24px;
}


/* New Comment */
#post-nv-commentaire {
	margin-top: 35px;
}

/* ajax loading gif */
.ajaxloading:before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(255, 255, 255, .5) center center url(loading.gif) no-repeat;
}


/* Ajax removing comment animation */
.deleteFadeOut {
	opacity: 1;
	animation: disapear .6s;
	-webkit-animation: disapear .6s;
}

@-webkit-keyframes disapear{
	100% { height: 0; opacity: 0; }
}

@keyframes disapear {
	99%  { height: 0; opacity: 0; left: 10px; }
	100% { height: 0; opacity: 0; left: -1000px; }
}


