
/* COMMENTAIRES */

.commentbloc {
	padding : 5px 15px 5px 30px;
	background: #edf3fe url("comment.png") no-repeat 5px 5px;
	background: url("comment.png") no-repeat 5px 5px, linear-gradient(to left, white 60%, #edf3fe );
	border: 1px solid #ccc;
	border-width: 1px 1px 0 1px;
}

.commentbloc:nth-of-type(even) {
	background: url("comment.png") no-repeat 5px 5px white;
}

.commentbloc:first-of-type {
	border-top-left-radius : 5px;
	border-top-right-radius : 5px;
}

.commentbloc:last-of-type {
	border-bottom-left-radius : 5px;
	border-bottom-right-radius : 5px;
	border-width: 1px;
	margin-bottom: 10px;
}

.commentbloc:hover {
	box-shadow: 0px 0px 4px #aaa, 1px 1px 5px #aaa;
	z-index: +1;
	position: relative; /* for shadow to get over the other comment-blocs */
}


.p-edit-button {
	visibility: hidden;
	margin-bottom: 5px;
	color: gray;
	font-style: italic;
}

.p-edit-button button {
	float: right;
}

.comm-edit-hidden-bloc {
	display: none;
}

.commentbloc h3, .commentbloc .email {
	display: inline;
	margin-right: 15px;
}

.commentbloc h3 a {
	text-decoration: none;
}

.commentbloc .email {
	visibility: hidden;
}

.commentbloc .img_inv_flag {
	float: right;
}

.commentbloc a {
	color: inherit;
}

/* onHover */
.commentbloc:hover a {
	color: #45a6ff;
}
.commentbloc:hover .email, .commentbloc:hover .p-edit-button {
	visibility: visible;
}

.privatebloc {
	border-left-color: #333;
}

.privatebloc h3, .privatebloc h3 a {
	font-style: italic;
}

.privatebloc a {
	color: black;
}

#erreurs, .erreurs {
	display: block;
	clear: both;
	color: #D40000;
	margin: 0 0 15px 0;
}

.titre-commentaire, .titre-lien {
	font-size: 16px;
}

.suppr-commentaire {
	text-align: right;
}

.poster-comment {
	padding-left: 20px;
	background: url("comment.png") no-repeat left;
}

.form-commentaire textarea {
	margin-top: 0;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #f9f9f9;
	border-radius: 0 0 5px 5px;
}

.form-commentaire input {
	padding: 4px;
	vertical-align: middle;
}

.form-commentaire fieldset, .post-lien fieldset {
	border: none;
	margin:0;
	padding:0;
}

.infos label {
	display: block;
	vertical-align: middle;
}

.form-commentaire fieldset.infos {
	margin-top: 15px;
	max-width: 500px;
	text-align: right;
}

.cl-suppr {
	background: url(legend.png) 0px -417px no-repeat;
	border: 0;
}

.cl-edit {
	background: url(legend.png) -557px -103px no-repeat;
	border: 0;
}

