
/* COMMENTAIRES */

.commentbloc {
	padding : 5px 15px 5px 30px;
	background: url("comment.png") no-repeat 5px 5px white;
	border: 1px solid #ccc;
	border-width: 1px 1px 0 1px;
	position: relative; /* for shadow on hover to get over the other comment-blocs */
}

.commentbloc:nth-of-type(odd):not(.privatebloc) {
	background: url("comment.png") no-repeat 5px 5px, linear-gradient(to left, white 60%, #edf3fe );
}

.commentbloc:first-of-type {
	border-top-left-radius : 5px;
	border-top-right-radius : 5px;
}

.commentbloc:last-of-type {
	border-bottom-left-radius : 5px;
	border-bottom-right-radius : 5px;
	border-width: 1px;
	margin-bottom: 10px;
}

.commentbloc:hover {
	box-shadow: 0px 0px 4px #aaa, 1px 1px 5px #aaa;
	z-index: +1;
}


.p-edit-button {
	margin-bottom: 5px;
	color: gray;
	font-style: italic;
}

.comm-link-span-title {
	visibility: hidden;
}

.p-edit-button button {
	float: right;
	opacity: .3;
}

.comm-edit-hidden-bloc {
	display: none;
	clear: both;
}

.commentbloc h3, .commentbloc .email {
	display: inline;
	margin-right: 15px;
}

.commentbloc h3 a {
	text-decoration: none;
}

.commentbloc .email {
	visibility: hidden;
}

.commentbloc .img_inv_flag {
	float: right;
	visibility: hidden;
}

.commentbloc a {
	color: inherit;
}

/* onHover */
.commentbloc:hover a {
	color: #45a6ff;
}
.commentbloc:hover .email, .commentbloc:hover .comm-link-span-title {
	visibility: visible;
}

.commentbloc:hover .p-edit-button button {
	opacity: 1;
}

.privatebloc {
	border-left-color: #333;
	background: url("comment.png") no-repeat 5px 5px, linear-gradient(to left, white 60%, #ddd);
}

.privatebloc h3, .privatebloc h3 a {
	font-style: italic;
}

.privatebloc a, .privatebloc:hover a {
	color: black;
}
.privatebloc .img_inv_flag {
	visibility: visible;
}

#erreurs, .erreurs {
	display: block;
	clear: both;
	color: #D40000;
	margin: 0 0 15px 0;
}

.titre-commentaire, .titre-lien {
	font-size: 16px;
}

.suppr-commentaire {
	text-align: right;
}

.poster-comment {
	padding-left: 20px;
	background: url("comment.png") no-repeat left;
}

.form-commentaire textarea {
	margin-top: 0;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #f9f9f9;
	border-radius: 0 0 5px 5px;
}

.form-commentaire input {
	padding: 4px;
	vertical-align: middle;
}

.form-commentaire fieldset, .post-lien fieldset {
	border: none;
	margin:0;
	padding:0;
}

.infos label {
	display: block;
	vertical-align: middle;
}

.form-commentaire fieldset.infos {
	margin-top: 15px;
	max-width: 500px;
	text-align: right;
}

.commentbloc .comm-link {
	vertical-align: middle;
	margin-left: 5px;
	padding-left: 18px;
/*	display: inline-block;
	width: 20px;
*/	height: 23px;
	border: 1px solid silver;
	border-radius: 6px;
}
.cl-suppr {
	background: url(legend.png) 2px -417px no-repeat;
}

.cl-edit {
	background: url(legend.png) -558px -104px no-repeat;
}

.cl-activ {
	background: url(legend.png) 2px -358px no-repeat;
}

.ajaxloading:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(255, 255, 255, .5) center center url(loading.gif) no-repeat;
}

/* Ajax removing comment animation */
.deleteFadeOut {
	opacity: 1;
	animation: disapear .6s;
	-webkit-animation: disapear .6s;
}

@-webkit-keyframes disapear{
	100% {
		height: 0;
		opacity: 0;
	}
}

@keyframes disapear{  
	99% {
		height: 0;
		opacity: 0;
		left: 10px;
	}
	100% {
		left: -1000px;
		height: 0;
		opacity: 0;
	}
}
