@charset "utf-8";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("roboto light"), url("roboto-300.woff2") format("woff2"), url("roboto-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("roboto"), url("roboto-400.woff2") format("woff2"), url("roboto-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("roboto bold"), url("roboto-700.woff2") format("woff2"), url("roboto-700.woff") format("woff");
}

/* GENERAL PAGE LAYOUT
------------------------------------------------------------ */
html, body {
	margin: 0; padding: 0;
	background: #eee;
	color: rgba(0, 0, 0, .87);
	font-family: Roboto, Verdana, Helvetica, Arial, sans-serif;
	word-wrap: break-word;
}

html {
	font-size: 16px;
}

body {
	font-size: .875em; /* 14px */
	position: relative;
	padding-bottom: 32px;
}

#header {/* the top bar(s) */
	padding: 0;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	width: 100%;
	z-index: 100;
	color: white;
}

#axe { /* the entire page without top bars (#header) and footer (#footer) */ 
	padding: 25px 20px;
}

#page { /* the main frame. #axe minus the "filtre" forms, and the subnav */
	padding: 0px 1% 20px;
}

/* Footer */
#footer {
	clear: both;
	text-align: center;
	color: #666;
	padding: 10px;
	font-size: .8em;
}

/* GENERAL STUFF 
------------------------------------------------------------------- */

a {
	color: #2196F3;
}

a:hover {
	color: #4f6681;
	text-decoration: underline;
}

#footer a {
	color: inherit;
	text-decoration: none;
}

.centrer {
	text-align: center;
}

img {
	border: none;
}

pre { white-space: pre-wrap; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet MS', Roboto, Arial, sans-serif;
	clear: both;
}

textarea {
	resize: both;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

textarea, input {
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
}

label, input, textarea, select {
	vertical-align: middle;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	cursor:pointer;
}

q, blockquote {
	font-style: italic;
}

.info { /* ex : « il n'y a aucun commentaire » est un .info */
	padding: 15px;
	padding-left: 40px;
	position: relative;
	margin: 0;
}

/* Message de confirmation ou d’erreur */
.confirmation, .no_confirmation {
	max-width: 30%;
	position: fixed;
	top: 30px; left: 0; right: 0;
	padding: 15px;
	margin: auto;
	text-align: center;
	font-weight: bold;
	z-index: 50;
	box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.2);
	animation: popup-disapear 3s 1s;
	animation-fill-mode: forwards;
}

@keyframes popup-disapear{  
	99% {
		height: 0;
		opacity: 0;
		top: 30px;
	}
	100% {
		height: 0;
		opacity: 0;
		top: -999px;
	}
}

.confirmation {
	background: rgba(160, 255, 187, .98);
	border: 1px solid #6f6;
	border-radius: 3px;
	color: #444;
}

.no_confirmation {
	background: rgba(230, 60, 60, .98);
	border: 1px solid #faa;
	border-radius: 3px;
	color: #fff;
}

#erreurs, .erreurs {
	display: block;
	clear: both;
	color: #D40000;
	margin: 0 0 15px 0;
}


/* TOP 
------------------------------------------------------------------------ */
#top {
	display: flex;
	min-height: 60px;
	box-sizing: border-box;

	/* colors from https://www.google.com/design/spec/style/color.html#color-color-palette */
	/*background: #ba68c8;*/ /*purple*/
	/*background: #f44336;*/ /*red*/
	/*background: #3f51b5;*/ /*indigo*/
	/*background: #a1887f;*/ /*brown*/
	/*background: #00bcd4;*/ /*cyan*/
	/*background: #009688;*/ /*teal*/
	/*background: #c0ca33;*/ /*lime*/
	/*background: #8bc34a;*/ /*lightgreen*/
	/*background: #2196f3;*/ /*blue*/
	/*background: #f9a825;*/ /*yellow*/
	/*background: #ffa000;*/ /*amber*/
	/*background: #ff9800;*/ /*orange*/
	/*background: #9e9e9e;*/ /*gray*/
	/*background: #607d8b;*/ /*bluegray*/
	/*background: #ff5722;*/ /*deeporange*/
	/*background: #000000;*/ /*black*/
	/*background: #424242;*/ /*dark gray*/
	/*background: #795548;*/ /*darker brown*/
	background: #4caf50; /*green*/
	padding: 0 0 0 20px;
	color: inherit;
}

#top > #nav,
#top > h1,
#top > #search,
#top > #nav-acc {
	box-sizing: border-box;
	line-height: 60px;
	vertical-align: middle;
	overflow: hidden;
	color: inherit;
}

/* TOP > Left nav bar
------------------------------------------------------*/
#top > #nav {
	order: 1;
}
/* TOP > Left nav bar > menu
----------------------------------------*/
#top > #nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 55px;
}

#top > #nav > ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}

#top > #nav a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: box-shadow 0.1s ease-in 0s;
}

#top > #nav a.current {
	font-weight: bold;
}
#top > #nav a:hover,
#top > #nav a.current {
	box-shadow: 0px -3px 0px currentColor inset;
}


/* TOP > h1 (only on mobile) */
#top > h1 {
	display: none;
}

/* TOP > Search button + searchbar
------------------------------------------------------*/
#top > #search {
	order: 2;
	flex: 1;
	padding: 0;
	text-align: right;
	margin: 0 4px;
}

#top > #search input[type='submit'] {
	display: none;
}

#top > #search input[type='search'] { /* normal */
	padding: 0 10px 0 40px;
	border: 1px solid transparent;
	border-radius: 2px;
	box-sizing: border-box;
	height: 40px;
	max-width: 700px;
	width: 100%;
	background: rgba(255, 255, 255, .3) url(sprites.png) no-repeat 7px -197px / 640px 400px;
	color: inherit;
}

#top > #search input:hover { /* hover */
	cursor: text;
}

#top > #search input[value=""]:focus,
#top > #search input:not([value=""]) { /* not empty : focus */
	position: relative;
	z-index: 20;
	color: black;
	background: rgba(255, 255, 255, .8) url(sprites.png) no-repeat 7px -40px / 640px 400px;
}

/* TOP > Right nav bar
------------------------------------------------------*/
#top > #nav-acc {
	order: 3;
	/*flex: 0 0 50px;*/
	margin: 0 60px 0 0;
	background-color: inherit;
}

#top > #nav-acc::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	background-color: inherit;
	width: 60px;
	height: 60px;
	top: 0px;
	right: 0px;
	box-sizing: border-box;
	z-index: 15;
	background: transparent url("sprites.png") no-repeat scroll -23px 10px / 640px 400px
}


/* TOP > Right menu
---------------------------------*/
#top > #nav-acc > ul {
	position: absolute;
	list-style-type: none;
	line-height: 3;
	margin: 60px 0 0;
	padding: 0;
	opacity: 0;
	overflow: hidden;
	box-sizing: border-box;
	background-color: inherit;
	width: 230px;
	right: 9999px;
	top: -60px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
	z-index: 20;
	transition: top .2s ease, opacity .2s ease, right ease 0s .2s;
	text-align: right;
}
#top > #nav-acc:hover > ul {
	top: -60px;
	opacity: 1;
	right: 0;
	transition: opacity .2s ease-in .05s, top .2s ease-in .05s, right 0s ease-out .05s;
}


#top > #nav-acc a {
	margin: 0;
	height: 45px;
	padding-right: 50px;
	display: block;
	text-decoration: none;
	color: inherit;
}

#top > #nav-acc a:hover {
	background: rgba(0, 0, 0, .1);
}

#top > #nav-acc a:after {
	content: "";
	vertical-align: middle;
	display: inline-block;
	width: 36px;
	height: 36px;
	background: no-repeat url(sprites.png) 0 0 / 640px 400px;
}

#top > #nav-acc #lien-preferences:after { background-position: -371px -1px; }
#top > #nav-acc #lien-site:after        { background-position: -408px -1px; }
#top > #nav-acc #lien-deconnexion:after { background-position: -334px -1px; }



/* SUBNAV (with nb articles/comms or link to "see online")
------------------------------------------------------------------ */

#subnav {
	margin: 0 1% 30px;
	padding: 10px 20px;
	background: #fefefe;
	display: flex;
	padding: 10px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}

#subnav .nombre-elem {
	font-weight: bold;
	color: #333;
	text-align: center;
	margin: auto auto;
	width: 100%;
	box-sizing: border-box;
}
#subnav .nombre-elem ul { /* list on link-hover on comm-page */
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 15;
}

#subnav .nombre-elem li {
	margin: 0;
	box-sizing: border-box;
	background: #fefefe;
	transition: box-shadow ease 0s, opacity ease .1s;
}

#subnav .nombre-elem li+li {
	position: absolute;
	width: 100%;
	padding: 0;
	height: 0;
	overflow: hidden;
}

#subnav .nombre-elem ul:hover li {
	box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
	transition: box-shadow ease .1s, opacity ease 0s;
}

#subnav .nombre-elem li:hover {
	background: #f5f5f5;
}

#subnav .nombre-elem a:hover{
	color: #45a6ff;
}

#subnav .nombre-elem ul:hover li+li {
	height: auto;
}

#subnav .nombre-elem ul li:first-of-type {
	border-radius: 3px 3px 0 0;
}

#subnav .nombre-elem ul li:last-of-type {
	border-radius: 0 0 3px 3px;
}

#subnav .nombre-elem a {
	text-decoration: none;
	display: inline-block;
	padding: 10px;
}

#subnav .nombre-elem > ul > li > a {
	width: 100%;
	box-sizing: border-box;
}


/* Floating action button (FAB)
------------------------------------------------------------------ */

.floating-action {
	display: inline-block;
	height: 56px;
	width: 56px;
	border-radius: 50%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	position: fixed;
	right: 32px;
	box-sizing: border-box;
	padding: 0;
	padding-left: 56px;
	overflow: hidden;
	bottom: 32px;
	z-index: 9999;
	background: #db4437;
	transition: transform .2s cubic-bezier(.57,.57,.96,1.39);
	border: 0;
}

.floating-action::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 12px;
	height: 32px;
	width: 32px;
	background: #db4437 url("sprites.png") no-repeat scroll -299px -90px / 640px 400px;
}

.floating-action:focus {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15), 0 8px 17px 0 rgba(0, 0, 0, 0.4);
	outline: none;
}

.floating-action.hidden {
	transform: scale(0);
	transition: transform .2s cubic-bezier(.2,-.5,.5,.2);
}

.floating-action#add-feed::before {
	background-position: -447px -164px;
}
/* PAGE INDEX 
------------------------------------------------------------------------- */
#resultat-recherche {
	list-style-type: none; /* TODO */
}


/* GENERAL FORM STUFF
----------------------------------------------------------*/
form {
	margin: 0;
}

.text, *[type='submit'] {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 5px;
	background: none;
}

.text {
	background: white;
}

/* <Select> + <option> + <optgroup> */
select {
	background: #fafafa;
	padding: 10px 25px 10px 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
	border: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;

}

select option,
select optgroup::before {
	border: 0;
	background: white;
	color: #333;
}
select optgroup::before {
	background: #eee;
	text-align: center;
}


/* FORMS defaults
-------------------------------------------------------------*/

/*input buttons */
.submit-bttns {
	text-align: right;
	margin: 15px auto 0;
	box-sizing: border-box;
	width: 100%;
	max-width: 700px;
	padding: 0 20px;
}

.submit-bttns .red-square {
	float: left;
}


.red-square,
.blue-square,
.white-square {
	color: white;
	font-weight: bold;
	vertical-align: middle;
	padding: 6px 12px;
	margin: 7px 0 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	border: 1px solid transparent;
	min-width: 100px;
	text-transform: uppercase;
}
.white-square:hover {
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}
.red-square:active,
.blue-square:active,
.white-square:active {
	box-shadow: none;
}

.blue-square {
	min-width: 140px;
	background: #2196f3;
}

.red-square {
	background: #f44336;
}

.white-square {
	box-shadow: none;
	background: white;
	color: #333;
	margin-right: 5px;
}

legend {
	padding: 0;
	text-align: center;
	font-size: 1.1em;
	font-variant: small-caps;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/* ERREURS */ 
#erreurs, .erreurs, #succes, .succes {
	display: block;
	clear: both;
	margin: 0 0 15px 0;
}

#erreurs, .erreurs {
	color: #D40000;
}
#succes, .succes {
	color: #00A400;
}

#erreurs ul {
	list-style-type: square;
	padding-left: 20px;
	margin-top: 10px;
}

#erreurs li {
	margin: 0;
}

/* Page maintenance.
********************************************/
#form_export,
#form_import,
#form_optimi,
#e_json,
#e_html,
#e_zip {
	display: none;
}


/* MAIN PAGES TILES Styles
*************************************/

#apercu, #form-ecrire,
#mainpage,
#post-new-lien, .linkbloc,
#billets > li,
#auth, #install,
#liste-commentaires,
#form-image, #image-section, #files-section,
#preferences,
#preferences-captcha,
#maintenance-form,
/*#rss-list,*/
#post-nv-commentaire,
#form-rss-config,
#form-rss-add
 {
	padding: 15px;
	background: #fefefe;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
	border-radius: 2px;
}

