/* ECRIRE 
---------------------------------------------------------------------------------- */

/* apercu */
#apercu {
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0 0 20px 0;
	border: 1px dashed #ccc;
}

#apercu pre, #apercu code {
	white-space: pre-wrap;
}

#apercu p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#apercu img {
	padding: 2px;
	border: 1px solid #ddd;
}

/* formulaire à remplir */
#form-ecrire textarea {
	resize: vertical;
}

#titre, #type_tags, #contenu, #mots_cles, #chapo, #notes {
	width: 100%;
	clear: both;
	margin: 0 0 15px;
}

#form-ecrire #titre {
	font-weight: bold;
	font-size: 16px;
}

#form-ecrire #type_tags {
	margin-top: 5px;
}

#contenu {
	border-radius: 0 0 5px 5px;
}

#chapo_note {
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

/* browsers scale the width of these box with the ratio of the value of html "cols" attribut they have (since they are table-cells). */
#blocchapo, #blocnotes {
	display: table-cell;
}

#chapo, #notes {
	height: 100px;
	background: #f1f1f5;
}

#notes {
	width: 98%;
	margin-left: 2%;
}

/* tags */
#form-ecrire #wrap {
	padding: 0;
	margin: 0;
}

/* Boutons de formatage  */
p.formatbut {
	border: 1px solid #9999a3;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	width: 100%;
	line-height: 28px;
	margin: 0; padding: 0 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #cde6ff;
	background: linear-gradient(to bottom, white, #e6e6e6);
}

.formatbut .but {
	padding: 0;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0);
	height: 24px; width: 24px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.formatbut .but:hover {
	transition: border-color .3s;
	border-color: silver;
}

.formatbut .but:active {
	border-color: gray;
	background: #cde6ff;
	background: linear-gradient(to top, white, #d6d6d6);
}

.formatbut .but > span:nth-of-type(1) {
	display: inline-block;
	width: 16px;
	height: 24px;
	background: no-repeat 0 3px transparent url(format.png);
}

.formatbut span.spacer {
	width: 2px;
	margin: 0 4px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #fafafa
}

/* buttons : works in comment form and in article form */
#button01 > span:nth-of-type(1) { background-position: -4px   -1px; } /* bold */
#button02 > span:nth-of-type(1) { background-position: -4px  -21px; } /* ital */
#button03 > span:nth-of-type(1) { background-position: -4px  -42px; } /* underline */
#button04 > span:nth-of-type(1) { background-position: -4px  -82px; } /* strike */
#button05 > span:nth-of-type(1) { background-position: -4px -319px; } /* left align */
#button06 > span:nth-of-type(1) { background-position: -4px -293px; } /* center align */
#button07 > span:nth-of-type(1) { background-position: -4px -241px; } /* right align */
#button08 > span:nth-of-type(1) { background-position: -4px -267px; } /* justify */
#button09 > span:nth-of-type(1) { background-position: -4px  -62px; } /* link */
#button10 > span:nth-of-type(1) { background-position: -4px -102px; } /* quote */
#button11 > span:nth-of-type(1) { background-position: -4px -213px; } /* image */
#button12 > span:nth-of-type(1) { background-position: -4px -122px; } /* code */
#button13 > span:nth-of-type(1) { background-position: -4px -345px; } /* color edit */
#button14 > span:nth-of-type(1) { background-position: -4px -187px; } /* font size edit */
#button15 > span:nth-of-type(1) { background-position: -4px -376px; } /* unicode char insert */
#button16 > span:nth-of-type(1) { background-position: -4px -440px; } /* ul list */
#button17 > span:nth-of-type(1) { background-position: -4px -408px; } /* ol list */

.but-dropdown {
	position: relative;
}

.but-dropdown .list {
	display:none;
	padding: 3px;
	border: 1px solid #9999a3;
	border-radius: 4px;
	background-color: white;
	width: 110px;
	height: 130px;
	position: absolute;
	top: 24px;
	left: -1px;
	line-height: 20px;
	box-shadow: 0px 2px 7px silver;
}

.but-dropdown:hover .list {
	display: block;
}

/* list colors */
.but-dropdown .list-color button {
	display: inline-block;
	background: white;
	margin: 0 2px;
	width: 22px;
	height: 22px;
	padding: 3px;
	border: 1px solid transparent;
}

.but-dropdown .list-color button span {
	vertical-align: middle;
	border: 1px solid #ccc;
	margin: 0 auto;
	display: block;
	width: 12px;
	height: 12px;
}

.but-dropdown .list-color button:hover {
	background-color: #ddd;
}
.but-dropdown .list-color button:hover span {
	border-color: #888;
}

/* list sizes */
.but-dropdown .list-size {
	text-align: left;
	width: 160px;
	padding: 3px 0;
}

.but-dropdown .list-size button {
	color: black;
	padding: 2px;
	text-align: left;
	display: inline-block;
	background: white;
	margin: 0;
	width: 160px;
	height: 28px;
	margin-top: 3px;
	border: 1px solid transparent;
}

.but-dropdown .list-size button:first-of-type {
	height: 23px;
}

.but-dropdown .list-size button:last-of-type {
	height: 33px;
}

.but-dropdown .list-size button span {
	vertical-align: middle;
	margin: 0 auto;
}

.but-dropdown .list-size button:hover {
	background-color: #ddd;
}

/* list caractères unicodes */

.but-dropdown .list-spechr {
	text-align: left;
	width: 384px;
	height: 94px;
	padding: 3px;
}

.but-dropdown .list-spechr button {
	background: white;
	margin: 0 2px 2px 0;
	width: 22px;
	padding: 0;
	height: 22px;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-align: center;
}

.but-dropdown .list-spechr button:hover {
	background-color: #ddd;
}


/* boutons d’options et date */
#date-and-opts {
	width: 100%;
	display: table;
}

#date-and-opts > div {
	display: table-cell;
}

#opts {
	text-align: right;
}

#formdate,
#formheure,
#formstatut,
#formallowcomment {
	display: inline-block;
	padding-left: 20px;
	vertical-align: middle;
	margin: 0 15px;
}

#formstatut label,
#formallowcomment label {
	display: inline;
}

#formdate {
	background: url(legend.png) no-repeat -560px -162px;
}

#formheure {
	background: url(legend.png) no-repeat 0px -142px;
}

#formstatut {
	background: url(legend.png) no-repeat -560px -194px;
}

#formallowcomment {
	background: url(legend.png) no-repeat -560px -226px;
}

