/* GRAPHS */
#mainpage {
	padding: 15px 0;
	text-align: center;
}

#graphs {
	vertical-align: middle;
	text-align: center;
}
#graphs > p {
	height: 25px;
	margin: 0;
	font-weight: bold;
}

.graphique a {
	color: black;
	text-decoration: none;
}
.graphique {
	padding: 0px 0px 22px;
	text-align: center;
	position: relative;
	line-height: 20px;
}

.graphique .month {
	vertical-align: bottom;
	display: inline-block;
	text-align: center;
}
.graphique .month-bar {
	border-bottom: transparent 2px solid;
	min-height: 1px;
}

.graphique .month:hover .month-bar {
	border-bottom: black 2px solid;
}

/* articles */
.graphique {
	margin-bottom: 35px;
}

.graphique .month {
	width: 30px;
	position: relative;
}

#articles .month-bar {
	background: #f44336;
}

.graphique .month-name {
	bottom: 0;
	display: block;
	white-space: pre;
	font-size: 80%;
	line-height: 100%;
	text-transform: capitalize;
}

.graphique .month:hover .month-name {
	font-weight: bold;
}

.graphique .month-nb {
	top: 3px;
	left: 0px;
	position: absolute;
	width: 30px;
	color: white;
	font-weight: bold;
}

/* commentaires */
#commentaires .month-bar {
	background: #3f51b5;
}

/* liens */
 .month-bar {
	background: #ffc107;
}




