/* MES LIENS 
--------------------------------------------------------------------------- */

/* LINKS : Post new link
------------------------------------------------------*/
#post-new-lien {
}

#post-new-lien .contain-input {
	margin-top: 5px;
	display: flex;
	height: 24px;
}

#post-new-lien label[for="url"] {
	width: 24px;
	padding-left: 24px;
	box-sizing: border-box;
	overflow: hidden;
	background: url(sprites.png) no-repeat white -192px -94px / 640px 400px;
}

#post-new-lien #url {
	flex: 1;
	border: 1px solid #dadada;
	border-width: 0 0 1px 0;
	width: 100%;
	min-width: 0;
}

#post-new-lien #url:focus {
	border-bottom-color: #2196F3;
	box-shadow: 0px -1px 0px #2196F3 inset;
}

#post-new-lien .submit {
	margin-top: 20px;
	margin-left: 24px;
}

/* Form new link (title, descr, tags…)
------------------------------------------------------------*/
#post-lien {
	margin: auto;
	width: 650px;
	max-width: 100%;
	padding: 20px;
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3);
	background: white;
	display: flex;
	flex-direction: column;
	resize: both;
	overflow: hidden;
	min-height: 200px;
	min-width: 200px;
}

#post-lien input.readonly-like { /* form nouveau lien (#2), le lien de l’URL */
	color: #bbb;
	font-style: italic;
	padding-left: .2em;
}

#post-lien .text {
	border: 1px solid #dadada;
	border-width: 0 0 1px 0;
	padding: 14px 7px 2px 1px;
	margin: 5px 0 0 0;
	max-width: 100%;
}


#description-box {
	flex: 1;
	display: flex;
}

#description-box #img-container {
	height: 100%;
	max-width: 30%;
	background: #ddd;
}
#description-box .preview-img {
	max-width: 100%;
	height: auto;
}

#description-box #img-container+.description {
	padding-left: 10px;
}

#description-box .description {
	padding-top: 15px;
	flex: 1;
}

#post-lien textarea {
	min-height: 130px;
	resize: none;
}


#post-lien .text:focus {
	border-bottom-color: #2196F3;
	box-shadow: 0px -1px 0px #2196F3 inset;
}


/* LINKS : tags */
/* see also #tag_bloc+ in style-ecrire.css */

#post-lien #type_tags {
	padding-left: 5px;
	margin-top: 0;
	padding-top: 5px;
}

#post-lien #selected li:first-of-type {
	border-left-width: 1px;
}

#post-lien .forcheckbox {
	padding: 15px 5px;
}


/* LINKS : list of link-blocs
--------------------------------------------------------------*/
/* LINKS : a link bloc
-------------------------------------------*/
.linkbloc {
	color: #444;
	margin-top: 10px
}

.linkbloc:hover {
	color: #333;
}

.linkbloc:hover .link-options {
	visibility: visible;
}


/* LINKS : link header 
--------------------------------*/
.linkbloc .link-header {
	display: flex;
	align-items: center;
}

.linkbloc .titre-lien {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	color: #333;
	flex: 1;
}
.linkbloc .titre-lien:hover {
	color: #888;
}

.linkbloc .date,
.linkbloc .hard-link {
	font-size: .9em;
	color: #aaa;
}



/* link options button */
.link-options {
	position: relative;
	visibility: hidden;
}

.link-options::before {
	content: "";
	cursor: pointer;
	background: url(sprites.png) no-repeat -599px -7px / 640px 400px;
	width: 24px;
	height: 24px;
	display: block;
	margin-left: 10px;
}

.link-options > ul {
	right: 9999px;
	position: absolute;
	top: -10px;
	background: white;
	margin: 0;
	padding: 4px 0;
	list-style: none;
	border-radius: 3px;
	width: 210px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: top .2s .3s ease-in, opacity .2s .3s ease-in, right ease-out 0s .5s;
}

.link-options:hover ul {
	right: 0;
	opacity: 1;
	top: 0;
	transition: top .2s ease-in .05s, opacity .2s ease-in .05s, right 0s ease-out .05s;
}

.link-options > ul > li {
	cursor: pointer;
}

.link-options a {
	height: 35px;
	line-height: 35px;
	padding-left: 40px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	color: inherit;
	text-decoration: none;
}

.link-options a:hover {
	color: inherit;
	text-decoration: none;
}

.link-options > ul > li:hover {
	background: #f5f5f5;
}


/* LINKS : link content 
--------------------------------*/
.linkbloc .link-content {
	padding: 10px 0
}

/* LINKS : link footer 
--------------------------------*/
.linkbloc .link-footer {
	display: flex;
}

.linkbloc .link-tags {
	flex: 1;
	margin: 0;
	padding: 0;
}

.linkbloc .link-tags li {
	display: inline;
}

.linkbloc .link-tags a {
	margin-right: 4px;
	padding: 3px 4px;
	color: inherit;
	text-decoration: none;
	background: #efefef;
	border-radius: 3px;
	box-shadow: 0 0px 1px rgba(0, 0, 0, .3) inset;
}


#post-lien #liste-tags {
	min-width: 400px;
	width: 50%;
	margin: 0 0 2px 25%;
	padding-left: 21px;
	line-height: 19px;
}

