input[type="submit"],
input[type="button"],
input[type="reset"],
button {
    cursor:pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    border-radius: 0;
}

/* input buttons */
.btn-container{
    text-align: right;
    margin: 20px auto 5px;
    width: 100%;
    padding: 0;
}

.btn-container .button-delete {
    float: left;
}

.btn{
    font-weight: 500;
    vertical-align: middle;
    padding:8px 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    border: 0px solid transparent;
    text-transform: uppercase;
    text-decoration:none !important;
    position: relative;
    overflow: hidden;
    background-color:#9E9E9E;
    color:#9E9E9E;
    cursor:pointer;
    display:inline-block;
    margin:2px 4px;
}
.btn-dense{
    font-size:0.9rem;
    padding:4px 8px;
}
.btn-dense.btn-icon{
    width:30px;
    height:30px;
}
.btn-dense.btn-icon::before{
    width:30px;
    /* dirty fix ...*/
    margin-left: -8px;
    margin-top: -4px;
}
.btn-large{
    font-size:1.1rem;
    padding:0 22px;
}
.btn-float{
    border-radius:50%;
    height:60px;
    width:60px;
    line-height:60px;
}
.btn-float.btn-dense{
    height:50px;
    width:50px;
    line-height:50px;
}
.btn-float.btn-large{
    height:70px;
    width:70px;
    line-height:70px;
}
.btn-cancel,.btn-flat{
    color:rgba(0, 0, 0, 0.5);
}
.btn:hover,.btn:focus{
    background-color:#616161;
    color:#616161;
}
.btn-submit, .btn-blue{
    background-color:#2196F3;
    color:#2196F3;
}
/* for information and form submit */
.btn-submit:hover,.btn-submit:focus,
.btn-blue:hover,.btn-blue:focus{
    background-color:#1976D2;
    color:#1976D2;
}
/* validate a "positive action" */
.btn-green{
    background-color:#4CAF50;
    color:#4CAF50;
}
.btn-green:hover,.btn-green:focus{
    background-color:#388E3C;
    color:#388E3C;
}
/* warning */
.btn-orange{
    background-color:#FF9800;
    color:#FF9800;
}
.btn-orange:hover,.btn-orange:focus{
    background-color:#F57C00;
    color:#F57C00;
}
/* error, delete */
.btn-red{
    background-color:#F44336;
    color:#F44336;
}
.btn-red:hover,.btn-red:focus{
    background-color:#D32F2F;
    color:#D32F2F;
}

.btn:not(.btn-flat):after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
}

/* for mouse focus */
.btn:focus:hover::after {
    animation: md-ripple 1s ease-out;
}
/* for keyboard focus */
.btn:focus:not(:hover)::after {
    background: rgba(255, 255, 255, .3);
    transform: scale(1, 1);
    border-radius: 0;
    opacity: 1;
}

/* btn links */
.btn:not(.btn-flat):not(.btn-cancel){
    color:white;
}
.btn-cancel,.btn-cancel:hover,.btn-cancel:focus,
.btn-flat,.btn-flat:hover,.btn-flat:focus{
    box-shadow:none;
    background-color:transparent;
}
.btn-cancel:hover,.btn-cancel:focus,
.btn-flat:hover,.btn-flat:focus{
    background: rgba(0, 0, 0, .3);
    color:white;
}
.btn-cancel:active,.btn-cancel.active,
.btn-flat:active,.btn-flat.active{
    background: rgba(0, 0, 0, .6);
    color:white;
}
.btn .txt-caption{
    color:rgba(255, 255, 255, 0.8);
}
