/* TABLE LISTE BILLETS
--------------------------------------------------------------------------- */

#billets {
	width: 90%;
	padding: 0;
	margin: auto;
	list-style: none;
}

#billets a:not(:hover) {
	text-decoration: none;
}

#billets > li {
	padding: 0 15px 0 5px;
	min-height: 50px;
	line-height: 50px;
	display: flex;
	margin-top: 10px;
	align-items: center;
}


#billets > li > span:nth-of-type(1)::before,
#billets > li > span:nth-of-type(2)::before,
#billets > li > span:nth-of-type(3)::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	position: relative;
	vertical-align: middle;
	background: url('sprites.png') no-repeat 0 0 / 640px 400px;
}

#billets > li > span:nth-of-type(1)::before {
	margin-right: 10px;
}

#billets > li > span:nth-of-type(1).on::before {
	background-position: -562px -9px;
}

#billets > li > span:nth-of-type(1).off::before {
	background-position: -525px -9px;
}


#billets > li > span:nth-of-type(1) { /*title*/
	flex: 1;
	padding: 0 10px 0 5px;
}

#billets > li > span:nth-of-type(1),
#billets > li > span:nth-of-type(1) a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#billets > li > span:nth-of-type(2) { /*date*/
	text-align: center;
}
#billets > li > span:nth-of-type(2)::before {
	background-position: -488px -9px;
}

#billets > li > span:nth-of-type(3) { /*comms*/
	padding: 0 0 0 12px;
	margin-right: 15px;
	margin-left: 10px;
}
#billets > li > span:nth-of-type(3) a {
	padding: 0 7px;
}
#billets > li > span:nth-of-type(3)::before {
	background-position: -451px -9px;
}


#billets > li > span:nth-of-type(1) a,
#billets > li > span:nth-of-type(2) a {
	color: inherit;
}

