/* TABLE LISTE BILLETS
--------------------------------------------------------------------------- */

ul#billets {
	width: 100%;
	padding: 0;
	margin: 0;
	display: table;
}

ul#billets a {
	text-decoration: none;
}

ul#billets li {
	list-style-position: outside;
	display: table-row;
}

ul#billets li span {
	display: table-cell;
	vertical-align: middle;
	//border: 1px solid red;
}

ul#billets li span:nth-of-type(1) {
	height: 35px;
	width: 24px;
	background-position: center center;
}

ul#billets li span:nth-of-type(4) {
}

ul#billets li span:nth-of-type(5) {
	padding-left: 15px;
}


ul#billets li:nth-of-type(odd) {
	background: #edf3fe;
	background: -webkit-linear-gradient(left, #edf3fe, #fdfdff, #edf3fe);
	background:    -moz-linear-gradient(left, #edf3fe, #fdfdff, #edf3fe);
	background:      -o-linear-gradient(left, #edf3fe, #fdfdff, #edf3fe);
	background:         linear-gradient(left, #edf3fe, #fdfdff, #edf3fe);
}

ul#billets li:nth-of-type(odd):hover {
	background: #edf3fe;
}

.black { /* link */
	color: #000;
}

ul#billets .on, ul#billets .off {
	color: #000;
	margin: 0;
}

ul#billets .on {
	background: url("tick.png") no-repeat;
}

ul#billets .off {
	background: url("cross.png") no-repeat;
}

ul#billets a:hover {
	text-decoration: underline;
}
