/* TABLE LISTE BILLETS
--------------------------------------------------------------------------- */

ul#billets {
	width: 100%;
	padding: 0;
	margin: 0;
	display: table;
}

ul#billets a {
	text-decoration: none;
}

ul#billets li {
	border-radius: 10px;
	list-style-position: outside;
	display: table-row;
	height: 35px;
}

ul#billets li > span {
	display: table-cell;
	vertical-align: middle;
}

ul#billets li > span:first-of-type span {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}

ul#billets li > span:nth-of-type(1) span {
	height: 20px;
	width: 20px;
}

ul#billets li > span:nth-of-type(2) {
	width: 160px;
	padding: 0 10px;
	text-align: center;
}

ul#billets li > span:nth-of-type(3) {
	padding: 0 10px;
}

ul#billets li > span:nth-of-type(4) {
	padding-left: 15px;
}

ul#billets li:nth-of-type(odd) {
	background: #edf3fe;
	background: linear-gradient(to right, #edf3fe, #fdfdff, #edf3fe);
}

ul#billets li:nth-of-type(odd):hover {
	background: #edf3fe;
}

.black { /* link */
	color: #000;
}

ul#billets .on, ul#billets .off {
	color: #000;
	margin: 0;
	background: url(legend.png) no-repeat;
}

ul#billets .on {
	background-position: 0 -119px;
}

ul#billets .off {
	background-position: 0 -419px;
}

ul#billets a:hover {
	text-decoration: underline;
}

ul#billets li > span:nth-of-type(1) a, ul#billets li > span:nth-of-type(2) a {
	color: inherit;
}
