/* ADD-ONS
------------------------------------------------------------ */

#modules {
	padding: 0;
	margin: auto;
	list-style: none;
}

#modules > li {
	max-width: 100%;
	padding: 10px 20px;
	min-height: 50px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#modules > li a {
	color: inherit;
	text-decoration: none;
	vertical-align: middle;
}

#modules > li > span:nth-of-type(1) {
	display: inline-block;
	flex: 0 0 70px;
}

#modules > li > span:nth-of-type(2) {
	flex: 1 1 auto;
}

#modules label {
}
