/* AUTH 
-------------------------------------------------------------------------------- */

#pageauth {
	width: 450px;
	font-size: 1em;
	display: block;
	clear: both;
	margin: 10px auto 10px;
	text-align: center;
	background: url("logo.png") no-repeat center 20px;
	padding-top: 120px;
}

#pageauth p label {
	display: inline-block;
	width: 200px;
}

#pageauth input.text {
	width: 200px;
}

#auth {
	width: 299px;
	margin: auto;
}

#auth p label {
	text-align: left;
	width: 200px;
}

#auth label[for="stay_logged"], #auth label[for="stay_logged"]+input {
	display: inline;
}

#pageauth h1 {
	margin: 0 auto 30px;
	font-size: 3em;
}

#pageauth h1#step { /* install */
	font-size: 2em;
	margin: 0;
	color: #999;
}

#freecap {
	border: 1px dashed silver;
}

#pageauth label[for="sgdb"] {
	display: inline;
}

