/* RSS Reader CSS
------------------------------------------------------------ */
/* the main blog (with rounded corners) */
#rss-list {
	padding: 1px 0;
}


/* The frame with elements to read + menu */
#posts-content {
	min-height: 100%;
}

/* the top menu of the list */
#rss-menu {
	min-height: 30px;
	display: flex;
	align-items: center;
	padding: 0 30px;
	background: #fefefe;
	color: #333
}

#rss-menu #count-posts {
	display: flex;
	align-items: center;
}

#rss-menu #counter {
	margin: 0 8px;
	display: none;
	height: 34px;
	width: 34px;
	background: url(loading.gif) no-repeat left center;
}

.rss-menu-buttons {
	margin: 2px 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	flex: 1;
}

.rss-menu-buttons > li {
	display: inline-block;
}

.rss-menu-buttons button {
	background: transparent no-repeat url(sprites.png) 0 0 / 640px 400px;
	border: 1px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	width: 40px;
	position: relative;
	transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}

.rss-menu-buttons li > button:active {
	background-color: rgba(0, 0, 0, .05);
	transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#rss-menu ul > li:nth-of-type(1) > button        { background-position: -0px -125px; }
#rss-menu ul > li:nth-of-type(2) > button        { background-position: -185px -125px; }
#rss-menu ul > li:nth-of-type(3) > button        { background-position: -222px -125px; }
#rss-menu ul > li:nth-of-type(4) > button        { background-position: -0px -161px; }
#rss-menu #count-posts > button { background-image: none; }

/* bloc with feed lists (sites) + feed posts (the actually posts) */
#posts-wrapper {
	display: flex;
	align-items: flex-start;
}

/* the left sidebar, with the list of feeds */
#feed-list {
	background: #fefefe;
	box-sizing: border-box;
	flex: 0 0 260px;
	margin: 0 40px 0 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

#feed-list li {
	min-height: 1.6em;
	padding: 0;
	display: flex;
	position: relative;
	border-bottom: 1px solid #eee;
}

#feed-list > li > span,
#feed-list > li > ul > li > span {
	padding: 10px 25px 10px 0
}

#feed-list > li.all-feeds {
}

#feed-list > li.all-feeds > button:last-of-type {
	text-align: center;
	padding: 20px;
}


#feed-list > li.all-feeds button::before {
	display: inline-block;
	vertical-align: middle;
	content: "";
	left: 0px;
	height: 20px;
	width: 20px;
	background: transparent url(sprites.png) no-repeat -159px -170px / 640px 400px;
}

#feed-list > li.feed-folder {
	padding-left: 0;
	padding-right: 0;
}

#feed-list > li.feed-folder {
	display: block;
	padding-top: 0;
	padding-bottom: 0;
}

#feed-list > li.feed-folder > .feed-folder-title {
	display: flex;
	padding: 0;
}

#feed-list > li.feed-folder > .feed-folder-title button {
	background: none;
	border: 0;
	margin: 0;
	padding: 6px 20px 6px 25px;
	flex: 1 0 0px;
	text-align: left;
	font-weight: inherit;
}

#feed-list > li.feed-folder > .feed-folder-title span {
	flex: 1 1 0%;
	line-height: 24px;
	padding-left: 5px;
}

#feed-list > li.feed-folder > ul {
	font-weight: normal;
	padding-left: 0;
	margin-left: 0px;
	height: 0;
	overflow: hidden;
}

#feed-list > li.feed-folder.open > ul {
	height: auto;
	overflow: visible;
}

#feed-list > li:first-of-type::before {
	background-position: -158px -170px;
}

#feed-list li button:last-of-type {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: inherit;
	flex: 1;
	border: 0;
	background: none;
	text-align: left;
	font-weight: inherit;
	padding: 10px 0px 10px 25px;
	vertical-align: middle;
}

#feed-list li.feed-folder button.unfold {
	text-align: right;
	flex: 0 0 40px;
	padding: 0 0 0 40px;
	margin-right: 10px;
	overflow: hidden;
	box-sizing: border-box;
	background: transparent url("sprites.png") no-repeat scroll 0 0 / 640px 400px;
	background-position: -371px -161px;
	transition: transform ease .2s;
	vertical-align: middle;
}

#feed-list li.feed-folder.open button.unfold {
	transform: rotate(90deg);
}

#feed-list li button.feed-error {
	color: red;
}

#feed-list li.active-site,
#feed-list > li.feed-folder.active-site {
	background-color: #eee;
	box-shadow: 3px 0 0 gray inset;
	transition: box-shadow 0.2s ease 0s
}

#feed-list li.feed-folder:hover > span,
#feed-list li:not(.feed-folder):hover,
#feed-list > li.feed-folder li:hover {
	box-shadow: 3px 0 0 gray inset;
	transition: box-shadow 0.2s ease 0s
}

#feed-list li:not([data-nbrun="0"]) {
	font-weight: bold;
}


/* <UL> list with elements to read */
#post-list-wrapper {
	flex: 1;
	min-width: 0;
}

#post-list-title {
	padding: 5px 20px;
	display: flex;
}

#post-list-title ul {
	text-align: left;
}

#post-list-title ul > li:nth-of-type(1) > button        { background-position: -37px -125px; }
#post-list-title ul > li:nth-of-type(2) > button        { background-position: -74px -125px; }
#post-list-title ul > li:nth-of-type(2) > button.unfold { background-position: -111px -125px; }


#post-list {
	box-sizing: border-box;
	list-style-type: none;
	padding: 0;
	margin: 0;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
}

#post-list > li {
	padding: 15px 20px 15px;
	border-bottom: #F9F9F9 solid 1px;
	background: white;
}

#post-list > li:hover {
	box-shadow: 4px 0px 0px gray inset;
	cursor: pointer;
}

#post-list > li.read:not(.open-post) {
	color: gray;
}

#post-list > li img,
#post-list > li table {
	max-width: 100%;
	height: auto;
}

#post-list > li iframe[src="^https://www.youtube.com/"] {
	max-width: 100%;
	height: auto;
}

/* rss entry title */
#post-list > li .post-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	font-weight: bold;
	display: flex;
	min-width: 0;
}
#post-list > li .post-title a {
	text-decoration: none;
	color: inherit;
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	padding-right: 10px;
}

#post-list > li .post-title a:hover {
	text-decoration: underline;
	color: inherit;
	font-weight: bold;
	flex: 1 0 auto;
}

#post-list > li:not(.open-post) .post-title a:hover {
	text-decoration: none;
}

#post-list > li .post-title a:hover+.datesite {
	flex: 0 10 auto;
}

#post-list > li div.datesite {
	display: flex;
	font-size: .9em;
	font-weight: 300;
	justify-content: flex-end;
	flex: 0 0 auto;
	min-width: 0;
}



#post-list > li div.datesite .site,
#post-list > li div.datesite .date {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#post-list > li div.datesite .site {
	max-width: 200px;
}
#post-list > li div.datesite .site:hover {
	max-width: 100%;
}

#post-list > li .rss-item-content {
	display: none;
}

#post-list > li .rss-item-content * {
	max-width: 100%;
}

#post-list > li hr.clearboth {
	clear: both;
	margin: 0;
	height: 0;
	padding: 0;
	border: none;
}

#rss-list > .keyshortcut {
	clear: both;
	font-size: .9em;
	color: gray;
	margin-top: 20px;
	text-align: center;
}

/* opened post */
#post-list > li.open-post {
	box-shadow: 0 0 8px rgba(0, 0, 0, .3);
	color: inherit;
	cursor: auto;
	position: relative;
}

#post-list > li.open-post .rss-item-content {
	display: block;
	margin-top: 15px;
}

#post-list > li .datesite .lien-share {
	width: 20px;
	height: 16px;
	display: inline-block;
	margin-left: 5px;
	text-decoration: none;
	background: transparent url("sprites.png") no-repeat scroll -47px -172px / 640px 400px;
}

/* RSS Config Page -------------------- */
#form-rss-config,
#form-rss-add {
	margin-bottom: 30px;
}

#form-rss-config ul {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

#form-rss-config li {
	display: inline-block;
	width: 400px;
	margin-bottom: 25px;
	text-align: left;
}

#form-rss-config div {
	padding-left: 20px;
}

#form-rss-config li p {
	margin: 2px;
}

#form-rss-config li p.feed-error {
	color: red;
}

#form-rss-config li > p {
	line-height: 1.6em;
	font-weight: bold;
}

#form-rss-config li .white-square {
	display: none;
}


#form-rss-config li label,
#form-rss-add label {
	padding: 0 0 0 24px;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	background: white url(sprites.png) no-repeat 0 0 / 640px 400px;
}

#form-rss-config label[for^="i_"] { background-position: -410px -132px; }
#form-rss-config label[for^="j_"] { background-position: -79px -95px; }
#form-rss-config label[for^="l_"] { background-position: -374px -130px; }
#form-rss-add label               { background-position: -374px -130px; }

#form-rss-config li input.text,
#form-rss-add input.text {
	text-align: left;
	width: 325px;
	height: 20px;
	margin: 0px 5px;
	display: inline-block;
	border: 0;
	border-bottom: 1px solid #DADADA;
	padding: 0;
}

#form-rss-config li .text:focus {
    border-bottom-color: #2196F3;
    box-shadow: 0px -1px 0px #2196F3 inset;
}

#form-rss-config li button.red-square {
	margin-left: 10px;
	vertical-align: middle;
}

#form-rss-config li.to-remove > p {
	text-decoration: line-through;
}

#form-rss-config li.to-remove .white-square {
	display: inline;
}

#form-rss-config li.to-remove label,
#form-rss-config li.to-remove input,
#form-rss-config li.to-remove .red-square {
	opacity: .2;
	
}
