<article class="article post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="art-title post-title">
		<h1 class="entry-title" itemprop="name"><a href="{article_lien}" itemprop="url">{article_title}</a></h1>
		<div class="author" itemprop="author" itemscope itemtype="https://schema.org/Person">Par <em itemprop="name">{blog_author}</em></div>
		<div class="date"><time datetime="{article_date_iso}" itemprop="datePublished dateCreated">{article_date}</time> ⋅ <a href="{article_lien}#commentaires">{nombre_comments}</a></div>
	</header>
	<div class="art-content post-content entry-content" itemprop="articleBody">
		{article_content}
	</div>
	<footer class="art-footer post-footer entry-footer">
		<div class="art-tags post-tags">{article_tags}</div>
		<div class="art-com"><a href="{article_lien}#commentaires" itemprop="discussionUrl">{nombre_comments}</a></div>
	</footer>
</article>
