<article class="article post">
	<header class="art-title post-title">
		<h1><a href="{article_lien}">{article_titre}</a></h1>
		<div class="date"><time datetime="{article_date_iso}">{article_date}</time> ⋅ <a href="{article_lien}#commentaires">{nombre_commentaires}</a></div>
		<div class="author" rel="author">Par <em>{blog_auteur}</em></div>
	</header>
	<div class="art-content post-content">
		{article_contenu}
	</div>
	<footer class="art-footer post-footer">
		<div class="art-tags post-tags">{article_tags}</div>
		<div class="art-com"><a href="{article_lien}#commentaires">{nombre_commentaires}</a></div>
	</footer> 
</article>
