<article class="comment" id="{commentaire_ancre}">
	<header class="com-head">
		<img class="com-gravatar" src="{commentaire_gravatar_link}&amp;s=48&amp;d=monsterid" class="gravatar-icon" alt="gravatar" />
		<span class="com-author">{commentaire_auteur_lien}</span>
		<time class="com-date-time" datetime="{commentaire_date_iso}">{commentaire_date} à {commentaire_heure}</time>
	</header>
	<div class="com-content">
		{commentaire_contenu}
	</div>
	<footer class="com-footer">
		<span class="com-reply"><a href="#form-commentaire" onclick="reply('[b]@[{commentaire_auteur}|#{commentaire_ancre}] :[/b] ');">@répondre</a> <a href="#{commentaire_ancre}">#lien</a></span>
	</footer>
</article>
