<article class="article post">
	<header class="art-title post-title">
		<h1><a href="{article_lien}">{article_titre}</a></h1>
		<div class="date"><time datetime="{article_date_iso}">{article_date}</time> ⋅ <a href="{article_lien}#commentaires">{nombre_commentaires}</a></div>
		<div class="author" rel="author">Par <em>{blog_auteur}</em></div>
	</header>
	<div class="art-content post-content">
		{article_contenu}
	</div>
	<footer class="art-footer post-footer">
		<div class="art-tags post-tags">{article_tags}</div>
	</footer> 
</article>

<div id="commentaires">
	<div class="nbcom">{nombre_commentaires}</div>
	{BOUCLE_commentaires}
	<article class="comment" id="{commentaire_ancre}">
		<header class="com-head">
			<img class="com-gravatar" src="{commentaire_gravatar_link}&amp;s=48&amp;d=monsterid" class="gravatar-icon" alt="gravatar" />
			<span class="com-author">{commentaire_auteur_lien}</span>
			<time class="com-date-time" datetime="{commentaire_date_iso}">{commentaire_date} à {commentaire_heure}</time>
		</header>
		<div class="com-content">
			{commentaire_contenu}
		</div>
		<footer class="com-footer">
			<span class="com-reply"><a href="#form-commentaire" onclick="reply('[b]@[{commentaire_auteur}|#{commentaire_ancre}] :[/b] ');">@répondre</a> <a href="#{commentaire_ancre}">#lien</a></span>
		</footer>
	</article>
	{/BOUCLE_commentaires}
</div>

<div id="postcom">
	{formulaire_commentaire}
</div>

